
<style>  
.page-footer {
  /* background-color: #0f314f; */
  background: linear-gradient(175deg, rgb(85 197 151 / 80%) , rgb(33 82 115));
  height: auto;
}
.page-footer .footer-informasi{
  display: block;
  align-items: center;
  padding: 0 30px;
}
.page-footer .footer-informasi .footer-logo{
  width: 150px;
  height: 100px;
  /* border-radius: 50%; */
  /* background-color: black; */
  overflow: hidden;
  object-fit: cover;
}
.page-footer .footer-informasi .footer-logo img{
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.page-footer .footer-informasi .footer-alamat{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.page-footer .footer-informasi .footer-alamat p{
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  width: 200px;
}
.page-footer .footer-informasi .footer-alamat .img-map{
  width:30%;
  position: right;
}
.page-footer .footer-down{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}
.page-footer .footer-down .footer-copyright{
  color: #ffffff;
}
.page-footer .footer-down .footer-copyright p {
  font-size: 14px;
  font-weight: 500;
}
.page-footer .footer-down .footer-sosmed{
  /* width: 80px;
  height: 80px; */
  /* background-color: black; */
  overflow: hidden;
  object-fit: cover;
}
.page-footer .footer-down .footer-sosmed img{
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: cover;
  margin: 0 5px;
}
 @media screen and (max-width: 768px) {
  /* For mobile phones: */
  .row-card{
    margin-bottom: 30px;
  }
  .navbars{
    background-color:#ffffff;
    opacity: 0.9;
    padding: 8px 15px;
  }
  .navbars .nav-item a{
    color: #888AA2;
  }
  .navbars .nav-link a:hover{
    color: #222534;
    border-bottom: 3px solid #888AA2;
  }
  .navbars .nav-link a:active{
    color: #222534;
  }
  .img-carousel-wrapper{
    height: 250px;
  }
  .img-carousel-wrapper .img-carousel{
    width: 100%;
    height: 100%;
    max-height: 550px;
    
  }
  .page-about-1 .wrap{
    margin-top: -30px;
  }
  .col-title {
    padding-top: 10px;
  }
  .text-header {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
  }
  .box-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(0deg, #000000, #000000), linear-gradient(0deg, #000000, #000000), #000000;
  }

  }
@media only screen and (min-width: 320px) and (max-width: 768px) {
section {
  padding: 30px 0;
}
.navbars{
background-color:#ffffff;
opacity: 0.9;
padding: 8px 15px;
}
.navbars .nav-item a{
  color: #888AA2;
}
.navbars .nav-link a:hover{
  color: #222534;
}
.navbars .nav-link a:active{
  color: #222534;
}
.img-carousel-wrapper{
  height: 250px;
}
.img-carousel-wrapper .img-carousel{
  width: 100%;
  height: 100%;
  max-height: 550px;
  
}
.page-about-1 .wrap{
  margin-top: -30px;
}
.page-dokter{
  padding-left: 0;
  padding-right: 0;
}
.page-about{
  padding-left: 0;
  padding-right: 0;
}
.col-body {
  max-width: 100%;
}
.card-title {
  font-size: 24px;
  text-align: center;
}
.card-text {
  font-size: 14px;
  text-align: justify;
}
.col-title {
  padding-top: 10px;
}
.col-title .text-why-me {
  font-size: 24px;
  text-align: center;
}
.col-title .title-why-me {
  padding-top: 10px;
  font-size: 14px;
  text-align: justify;
}
.page-layanan .text-header {
  text-align: center;
  font-size: 24px;
}
.box-image{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
  background: linear-gradient(0deg, #000000, #000000), linear-gradient(0deg, #000000, #000000), #000000;
}
.page-footer .footer-down {
  display: block;
  justify-content: center;
}
.page-pelayanan .nav-link {
  border: 0;
  padding: 15px;
}
.page-pelayanan .nav-link.active {
  color: #fff;
  background: #1977cc;
}
.page-footer .footer-informasi .footer-alamat{
  display: block;
}
.page-footer .footer-informasi .footer-alamat .img-map{
  width:100%;
  position: right;
}

}
</style>
 <section class="page-footer">
  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="footer-informasi">
          <div class="footer-logo">
            <img src="/img/logors.png" alt="">
          </div>
          <div class="footer-alamat">
            <p>Jl. Cibubur I No.RT.3, RT.13/RW.1, Cibubur, Kec. Ciracas, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13720</p>
            <div class="img-map">
              <iframe 
                src="<%= @Maps %>" 
                width=100% 
                height="150" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy">
              </iframe>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="footer-down">
            <div class="footer-copyright">
              <p>Copyright 2021 RSUD CIRACAS. All Right Reserved.
                Designed by SIMRS</p>
            </div>
            <div class="footer-sosmed">
              <a href="<%= @phone %>" target="_blank"><img src="/img/whatsapp.png" alt="image"></a>
              <a href="https://facebook.com/<%= @facebook %>"target="_blank"><img src="/img/facebook.png" alt="image"></a>
              <a href="https://instagram.com/<%= @instagram %>"target="_blank"><img src="/img/instagram.png" alt="image"></a>
              <a href="https://mail.google.com/<%= @email %>"target="_blank"><img src="/img/gmail.png" alt="image"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
function subscribe_email_news(){

    var email_news = document.getElementById("email_news").value;
    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    var hasError = false;
    console.log(email_news);

    if(email_news == ''){
      swal("Failed!", "Email is empty!!", "danger")
    }else if(!emailReg.test(email_news)) {
      swal("Failed!", "Wrong format", "danger")
      hasError = true;
    }else{      
      $.ajax({
				url: "/companyprofile/home/aksi_sub",
				type: "POST",
        dataType: "json",
				data: {
          email_sub: email_news
        },
				success: function (result) {
          console.log(result);
          // return
          if (result.status == true) {
              swal("Success!", "Thankyou!!", "success").then((value) => {
                    window.location = "";
                });  
          } else {
              swal("Failed!", "Someting Wrong!!", "danger").then((value) => {
                    window.location = "";
                }); 
          }
				}
			});
    }
  }
</script>

  