
<style>
 section {
  padding: 50px 0;
  
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2{
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  /* color: #2c4964; */
}
.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  font-size: 18px;
}
.fix-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 200;
}
.navbars{
  /* background-color:#f0f0f0; */
  background-color: transparent;
  /* background: rgba(255, 255, 255, 0.5); */
  opacity: 0.9;
  /* padding: 20px 55px; */
  /* padding-top: 1.563rem; */
  /* padding-bottom: 1.563rem; */
  /* border-bottom: 2px solid #888AA2; */
  transition: background-color 1s ease 0s;
  
}
.navbar.solid {
  background-color:#f0f0f0;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px #888AA2;
  border-bottom: 2px solid #888AA2;
}
.navbars .nav-item{
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}
.navbars .nav-item .solid{
  color: #215273;
}
.navbar-light .navbar-nav .nav-link .solid{
  color: #215273;
}
.navbars .nav-item a{
  color: #888AA2;
  font-size: 18px;
  font-weight: 800;
}
.navbars .nav-item a:hover{
  color: #222534;
  border-bottom: 3px solid #888AA2;
}
.navbars .nav-item a:active{
  color: #222534;
}

.navbars .chat:hover{
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
  overflow: hidden;
}
.img-banner{
  height : 100%;
  width: 100%;
}
.container {
  height: 100%;
  margin: 0;
    
}
.img-logo{
  /* max-width:110px;
  height:auto;
  margin-right:80px;
  width: 160px;
  height:80px */
  position: relative;
  height: 100px;
  width: 160px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .img-logo{
    margin-right:80px;
    width: 90px;
    height:60px
  }
  .navbars {
    background-color: #215273;
    opacity: 0.9;
    padding: 8px 15px;
  }
  .navbars .nav-item{
    color: #888AA2;
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgb(80 80 83);
  }
  .navbars .nav-item a{
    color: #888AA2;
    font-size: 18px;
    font-weight: 800;
  }
  .sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    left: 100%;
    top: 0;
  }
  .sub-menu.show {
    display: block;
  }
  .sub-item{
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
}
</style>


  <div class="fix-nav">
      <nav  class="navbar navbar-expand-lg navbar-light navbars" id="bootnavbar">
        <div class="container-fluid">
          <a href="/">
            <img class="img-logo" id="logo" src="/img/logors.png" />
          </a> 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <% if @menu != nil %>
              <% @menu.each do |res| %>
                <li class="nav-item <%= res['rows_child'] == 1 ? 'dropdown' : '' %>" style="padding-left:10px;">
                  <a href="<%= res['url']%>" class="nav-link <%= res['rows_child'] == 1 ? 'dropdown-toggle' :''%>" id="dnavbardropdown" role="button" data-toggle="<%= res['rows_child'] == 1 ? 'dropdown' :''%>" aria-haspopup="true" aria-expanded="false" >
                    <%=res['menu'] %>
                  </a>
                  <% if res['rows_child'] == 1 %>
                    <% if res['menu_child'] != nil %>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% res['menu_child'].each do |ress| %>
                      <% if ress['rows_child'] == 2 %>
                        <li class="dropdown">
                            <a href="<%= ress['url']%>" class="dropdown-item dropdown-toggle" id="dnavbardropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                              <%=ress['menu'] %>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <% ress['menu_child'].each do |resss| %>
                                <a class="dropdown-item" href="<%= resss['url']%>" ><%= resss['menu']%></a>
                                <% end %>
                            </ul>
                        </li>
                            
                      <%else%>
                          <% if ress['url'] != "" %>
                            <li><a class="dropdown-item" href="<%= ress['url'] %>" ><%= ress['menu'] %></a></li>
                          <% else %>

                              <% 
                                  url_page = ENV['CIRACAS_WEB']+"page/#{ress['page_id'].to_s}"

                                  res_page = HTTParty.get(
                                      url_page
                                  )

                                  @page = res_page['content']['url']
                                  @keyword = res_page['content']['slug']
                                  @id = res_page['content']['id']
                              %>
                            
                              <li><a class="dropdown-item" href=../../../<%= "pages/"+@keyword.to_s %>><%=ress['menu'] %></strong></a></li>
                          <%end%>
                      <%end%>
                        
                      
                    <% end %>     
                  </ul>
                    <%end%>
                  <%end%>
                </li> 
              <%end%>
              <%end%>
              <div class="d-flex justify-content-end chat" style="padding-left:20px;">
                <a href="https://wa.me/083890886344"  target="_blank"><button class="btn edit btn-default" class="logoChat" style="margin-left:-10%;padding-left:20px;padding-right:25px;background-image: linear-gradient(to right,#2193b0,  #6dd5ed);border-radius: 4px; cursor: pointer;"><img src="" height="15px"/><span style="color: white; padding-left: 5px; font-size: 14px;">Chat Now</span></button></a>
              </div>
            </ul>
          </div>
        </div>
      </nav>
  </div>


<script>
  $(document).ready(function() {
        // Transition effect for navbar 
        $(window).scroll(function() {
          // checks if window is scrolled more than 500px, adds/removes solid class
          if($(this).scrollTop() > 100) { 
              $('.navbars').addClass('solid');
              $('.nav-item').addClass('solid');
              $('.nav-link').addClass('solid');
              
          } else {
              $('.navbars').removeClass('solid');
              $('.nav-item').removeClass('solid');
              $('.nav-link').removeClass('solid');
          }
        });
  });
</script>