<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<style>
  .container {
      height: 100%;
      margin: 0;
  }
  
  .badan {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }
  
  .flex-header {
      z-index: 1;
  }
  
  .flex-body {
      flex: 6;
      background-color: #FFF;
      margin-top: 2%;
  }
  
  ::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
  }
  
  .flex-footer {
      flex: 1;
      background-color: #272E48;
  }
  
  .textWhiteJudul{
      color: #FFF;
      font-size: 30px;
      padding-top: 100px;
      text-align: center;
  }
  
  .textInfo{
    color: #8c8c8c;
    font-size: 20px;
  }
  .textInfo2{
    color: #8c8c8c;
    font-size: 20px;
  }
  
  
  ::placeholder {
    font-size: 14px;
    color:black;
    font-weight: bold;
  }
  input[type=text]:focus{
    border: 1px solid #555;
  }
  
  textarea:focus{
    border: 1px solid #555;
  }
  
  .btnKirim {
      background: black;
      padding: 2px 0px 2px 0px;
      color: black; 
      text-align: center;
      border-radius: 5px;
      font-size: 12px;
      width: 40%;
      border: solid 1px
  }
  
  .textWhitePesan{
      color: #FFF;
      font-size: 13px;
  }

  .port-item {
    width: 100%;
    min-width: 0;
  }
  
  textarea:focus, input:focus{
      outline: none;
  }
  .judulUtama{
      color: #050547;
      font-size: 48px;
      float: center;
      text-align: center;
      margin-bottom: 20px;
      margin-left: 50px;
  }
  .subJudulUtama{
      color: #050547;
      font-size: 16px;
      float: center;
      text-align: center;
      margin-bottom: 20px;
      margin-left: 50px;
  }
  .judulAccordion{
      color: #050547;
      font-size: 22px;
      margin-bottom: 20px;
      text-align: left;
  }
  
  .subJudulClient{
      color: #050547;
      font-size: 20px;
      float: center;
      text-align: right;
      margin-bottom: 20px;
      margin-left: 50px;
  }
  .subJudulClient2{
      color: #878787;
      font-size: 16px;
      float: center;
      text-align: right;
      margin-bottom: 20px;
      margin-left: 50px;
  }
  
  .subJudulClients{
      color: white;
      font-size: 20px;
      float: center;
      text-align: left;
      margin-bottom: 20px;
      margin-left: 50px;
  }
  .subJudulClients2{
      color: white;
      font-size: 16px;
      float: center;
      text-align: left;
      margin-bottom: 20px;
      margin-left: 50px;
  }
  
  .judulCard{
      color: white;
      font-size: 20px;
      float: center;
      text-align: left;
  }
  
  .judulCard1{
      color: white;
      font-size: 16px;
      float: center;
      text-align: center;
  }
  
  .subJudulCard{
      color: white;
      font-size: 14px;
      float: center;
      text-align: right;
  }
  
  .subJudulRating{
      color: #050547;
      font-size: 20px;
      float: center;
      text-align: left;
      margin-bottom: 20px;
  }
  .subJudulRating2{
      color: #878787;
      font-size: 16px;
      float: center;
      text-align: right;
      margin-bottom: 20px;
  }
  
  .subJudulDigi{
      color: #050547;
      font-size: 20px;
      float: center;
      text-align: left;
      margin-bottom: 20px;
      margin-left: 50px;
  }
  .subJudulDigi2{
      color: #878787;
      float: center;
      text-align: left;
      font-weight: normal;
      font-size: 12px; 
  }
  .textJudul{
      color: #050547;
      font-size: 28px;
      float: center;
      text-align: center;
  }
  .textJudul1{
      color: #050547;
      font-size: 16px;
      float: center;
      margin-bottom: 20px;
      text-align: center;
  }
  .textJudul2{
      color: #9d9d9d;
      font-size: 16px;
      float: center;
      text-align: center;
  }
  
  .textReview{
      color: #050547;
      font-size: 16px;
      float: right;
      margin-bottom: 20px;
      text-align: right;
  }
  
  .textReview2{
      color: #050547;
      font-size: 16px;
      float: left;
      margin-bottom: 20px;
      text-align: left;
  }
  
  .teamImg {
    width: 100px;
    height: 100px;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image-feature {
    object-fit: contain;
    width: 100px;
    height: 150px;
    padding: 3px;
    border-radius: 12px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image-review {
    opacity: 1;
    display: block;
    transition: .5s ease; 
    padding: 3px;
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .image-testimoni {
    opacity: 1;
    transition: .5s ease; 
    padding: 3px;
    border-radius: 12px;
    display: block;
    object-fit: cover;
    width: 80%;
    height: 50%;
  }

  .image-plan {
  object-fit: contain;
  width: 100px;
  height: 150px;
  padding: 3px;
  border-radius: 12px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 .owl-carousel .item {
     margin: 1px;
     padding:10px;

 }

 .owl-carousel {
     margin-bottom: 15px;
     margin-top: 15px;
 }
#scrollmenu {
  white-space: nowrap;
}

#scrollmenu .item {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#digiImg{
  height: auto;
  align-items: center;
}

@import "compass/css3";

* {
  @include box-sizing(border-box); 
}


.module {
  padding-top: 20px;
  padding-bottom: 5px;
}
 
.come-in {
  transform: translateY(150px);
  animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
@media screen and (max-width: 900px) {
#bars {
  flex-direction: column !important;
}
img { 
      width: 20%;
      height: 75%;
  }
#spreadImg{
  width: 100%;
  height: 100%;
}


#digiImg{
  width: auto;
  height: 100px;
}
#dirutImg{
  width: 100%;
  height: 100%;
}

  #arrow1{
    display:none;
  }
  #arrow2{
    display:none;
  }
  #arrow3{
    display:none;
  }
  #arrow4{
    display:none;
  }
}
  
</style>

  <div class="container">
      <div class="badan">
          <div class="flex-header">
              <%= render "/companyprofile/home/mtm_menu.html.erb"%>
          </div>
          
          <div class="flex-body">
            <div style="background-color: #F0F8FF;">
              <div class="textJudul" style="margin-top: 30px; padding-top: 30px;">
                <strong>About Us</strong>
              </div>
              <div class="textJudul1" style="padding-top: 10px;">
                <strong>Get to know us closer! Like the indonesian proverb</strong>
              </div>
              <div class="textJudul2" style="padding-bottom: 30px;">
                <em>"Tak Kenal Maka Tak Sayang"</em>
              </div>
            </div>
  
            <div class="module">
              <div class="textJudul" style="margin-bottom: 20px; margin-top: 20px;">
                <strong>Working with MTM<br>is simple.</strong>
              </div>
            </div>
            
            <div class="module" style="margin-top: -30px;">
              <div id="bars" class="d-flex justify-content-center" style="padding-left:10%;padding-right:10%">
                <div class="port-item p-2" style="text-align:center;">
                  <div class="d-flex justify-content-center flex-wrap"> 
                    <div class="d-flex flex-column bd-highlight mb-3" style="padding:10px;">
                      <img src="<%= ENV['CIRACAS_WEB']+"/"+ @data_plan_flow[2]['image_path'] %>" class="image-plan" onerror="">
                      <span class="textJudulChoose"><%= @data_plan_flow[2]['nama'] %></span>    
                      <span class="subJudulDigi2" style="text-align: center;"><%= @data_plan_flow[2]['desc'] %></span>
                    </div>
                  </div>
                </div>
                <img style="margin-top: 60px; width: 200px; height: 200px;" id="arrow1" src="<%= ENV['CIRACAS_WEB']+"/"+ @data_plan_flow[0]['image_path'] %>" onerror="">
                <div class="port-item p-2" style="text-align:center;margin-top: 10%;"> 
                  <div class="d-flex justify-content-center flex-wrap"> 
                    <div class="d-flex flex-column bd-highlight mb-3" style="padding:10px;">
                      <img src="<%= ENV['CIRACAS_WEB']+"/"+ @data_plan_flow[3]['image_path'] %>" class="image-plan" onerror="">
                      <span class="textJudulChoose"><%= @data_plan_flow[3]['nama'] %></span>    
                      <span class="subJudulDigi2" style="text-align: center;"><%= @data_plan_flow[3]['desc'] %></span>                    
                    </div>
                  </div>
                </div>
                <img style="margin-top: 150px; width: 200px; height: 200px;" id="arrow2" src="<%= ENV['CIRACAS_WEB']+"/"+ @data_plan_flow[0]['image_path'] %>" onerror="">
                <div class="port-item p-2" style="text-align:center;margin-top: 10%;">  
                  <div class="d-flex justify-content-center flex-wrap" style="margin-top: 100px;"> 
                    <div class="d-flex flex-column bd-highlight mb-3" style="padding:10px;">
                      <img src="<%= ENV['CIRACAS_WEB']+"/"+ @data_plan_flow[4]['image_path'] %>" class="image-plan" onerror="">
                      <span class="textJudulChoose"><%= @data_plan_flow[4]['nama'] %></span>    
                      <span class="subJudulDigi2" style="text-align: center;"><%= @data_plan_flow[4]['desc'] %></span>                    
                    </div>
                  </div>
                </div>       
              </div>
            </div>
  
            <div class="module" style="margin-top: -30px;">
              <div id="bars" class="d-flex justify-content-center" style="padding-left:10%;padding-right:10%;background-image: url(<%="/images/bg_2.png"%>);background-size:25%; background-repeat:no-repeat;background-position: bottom 15% right -20%;">
                <div class="port-item p-2" style="text-align:center; margin-top: 7%;">
                  <div class="d-flex justify-content-center flex-wrap"> 
                    <div class="d-flex flex-column" style="padding-right: 15%; padding-left: 15%;">
                      <img src="<%= ENV['CIRACAS_WEB']+"/"+ @data_plan_flow[6]['image_path'] %>" class="image-plan" onerror="">
                      <span class="textJudulChoose"><%= @data_plan_flow[6]['nama'] %></span>    
                      <span class="subJudulDigi2" style="text-align: center;"><%= @data_plan_flow[6]['desc'] %></span>                    
                    </div>
                  </div>
                </div>
                <img style="margin-top: 20px; margin-right: -100px; margin-left: -100px; width: 200px;height: 200px;" id="arrow3" src="<%= ENV['CIRACAS_WEB']+"/"+ @data_plan_flow[1]['image_path'] %>" alt="Avatar" onerror="">     
                <div class="port-item p-2" style="text-align:center; margin-top: -3%; margin-right: -10%;"> 
                  <div class="d-flex justify-content-center flex-wrap"> 
                    <div class="d-flex flex-column bd-highlight mb-1">
                      <img src="<%= ENV['CIRACAS_WEB']+"/"+ @data_plan_flow[5]['image_path'] %>" class="image-plan" onerror="">
                      <span class="textJudulChoose"><%= @data_plan_flow[5]['nama'] %></span>    
                      <span class="subJudulDigi2" style="text-align: center;"><%= @data_plan_flow[5]['desc'] %></span>                    
                    </div>
                  </div>
                </div>  
                <div class="port-item p-2" style="text-align:center;"> 
                  <div class="d-flex justify-content-start flex-wrap" style="margin-right: 30px;"> 
                    <div class="d-flex flex-column bd-highlight mb-3" style="padding:10px;">
                      <img style="width: 200px; height: 200px; margin-top: -90px;" id="arrow4" src="<%= ENV['CIRACAS_WEB']+"/"+ @data_plan_flow[1]['image_path'] %>" alt="Avatar" onerror="">     
                    </div>
                  </div>
                </div>        
              </div>
            </div>

            <div class="module" style="margin-top: -20px;">
              <div class="textJudul" style="margin-bottom: 40px;">
                <strong>Meet Our Team</strong>
              </div>
            </div>

            <div class="module" style="margin-top: -20px;">
              <div class="d-flex justify-content-center flex-wrap" style="padding-left: 30%; padding-right: 25%;">
                <% if @data1 != nil %>
                  <% @data1.each do |res| %>
                    <% if res['status'] == 1 %>
                      <% if res['position'] == 1 || res['position'] == 2 %>
                        <div class="p-2 bd-highlight" style="padding:20%;">
                          <div class="d-flex flex-column" style="width: 170px; margin-right: 40px;">
                            <% url_image = ENV['CIRACAS_WEB']+res['image_path'].to_s%>
                            <img src="<%= url_image %>" class="teamImg" onerror="">     
                            <span class="textJudul" style="font-size: 18px; height: 25px; display: block;"><strong><%= res['nama'] %></strong></span>    
                            <span class="textJudul2" style="height: 30px;"><%= res['jabatan'] %></span>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>       
              </div>
            </div>
            
            <div class="module" style="margin-top: -20px;">
              <hr style="border-top: 1px solid #D6D6D6; margin-top: 15px; margin-left:20%; margin-right:20%;">
            </div>
            
            <div class="module" style="margin-top: -20px;">
              <div class="d-flex justify-content-center flex-wrap" style="padding-left: 30%; padding-right: 25%;">
                <% if @data1 != nil %>
                  <% @data1.each do |res| %>
                    <% if res['status'] == 1 %>
                      <% if res['position'] == 3 || res['position'] == 4 || res['position'] == 5 %>                     
                        <div class="p-2 bd-highlight" style="padding:20%;">
                          <div class="d-flex flex-column" style="width: 170px; margin-right: 40px;">
                            <% url_image = ENV['CIRACAS_WEB']+res['image_path'].to_s%>
                            <img src="<%= url_image %>" class="teamImg" onerror="">     
                            <span class="textJudul" style="font-size: 18px; height: 25px; display: block;"><strong><%= res['nama'] %></strong></span>    
                            <span class="textJudul2" style="height: 30px;"><%= res['jabatan'] %></span>
                            <button onclick="team('<%= res['divisi_id'] %>')" class="btn edit btn-default" style="background-image: linear-gradient(to right,#73D3FE, #80AFE7);border-radius: 4px; cursor: pointer;"><span style="color: white;">View All Team</span></button>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>       
              </div>
            </div>

            <div class="module">
              <div class="textJudul" style="margin-top: 50px;">
                <strong>We are fortunate to work with<br>great brands</strong>
              </div>
            </div>
    
            <div class="module" style="margin-top: -20px;">
              <div class="owl-carousel owl-theme">
                <% if @dataarray1 != nil %>
                    <% @dataarray1.each do |res| %>
                      <% if res[:status] == '1' %>
                        <% url_image = ENV['CIRACAS_WEB']+res[:image].to_s%>
                        <div class="item"> 
                          <img src="<%= url_image %>" alt="image" id="digiImg"/> 
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
              </div>
              <div class="owl-carousel owl-theme">
                <% if @dataarray2 != nil %>
                    <% @dataarray2.each do |res| %>
                      <% if res[:status] == '1' %>
                        <% url_image = ENV['CIRACAS_WEB']+res[:image].to_s%>
                        <div class="item"> 
                          <img src="<%= url_image %>" alt="image" id="digiImg"/> 
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
              </div>
            </div> 

        </div>
        <div class="flex-footer">
            <%= render "/companyprofile/home/mtm_footer.html.erb"%>
        </div>
      </div>
  </div>
<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
(function($) {
$.fn.visible = function(partial) {
  var $t            = $(this),
      $w            = $(window),
      viewTop       = $w.scrollTop(),
      viewBottom    = viewTop + $w.height(),
      _top          = $t.offset().top,
      _bottom       = _top + $t.height(),
      compareTop    = partial === true ? _bottom : _top,
      compareBottom = partial === true ? _top : _bottom;

return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

};
  
})(jQuery);

var win = $(window);

var allMods = $(".module");

allMods.each(function(i, el) {
var el = $(el);
if (el.visible(true)) {
  el.addClass("already-visible"); 
} 
});

win.scroll(function(event) {

allMods.each(function(i, el) {
  var el = $(el);
  if (el.visible(true)) {
    el.addClass("come-in"); 
  } 
});
});

$(document).ready(function () {
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    dots:false,
    autoplay:true,
    autoplayTimeout: 3000,
    smartSpeed: 700,
    responsive:{
        0:{
            items:1
        },
        400:{
            items:1
        },
        500:{
            items:1.5
        },
        600:{
            items:3
        },
        700:{
            items:2.5
        },
        1000:{
            items:5
        }
    }
})
});
function team(divisi_id){
  window.location.href = 'team/'+divisi_id
}
</script>