<!-- <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head> -->
<style>
.container {
    height: 100%;
    margin: 0;
}

.badan {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flex-header {
    z-index: 1;
}

.flex-body {
    flex: 6;
    background-color: #FFF;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    /* overflow: hidden; */
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
}

.flex-footer {
    flex: 1;
    background-color: #272E48;
}

.textWhiteJudul{
    color: #FFF;
    font-size: 30px;
    padding-top: 100px;
    text-align: center;
}

.textInfo{
  color: #8c8c8c;
  font-size: 20px;
}
.textInfo2{
  color: #8c8c8c;
  font-size: 20px;
}

::placeholder {
  font-size: 14px;
  color:black;
  font-weight: bold;
}
input[type=text]:focus{
  border: 1px solid #555;
}

textarea {
  border: 1px solid #555;
  resize: none;

}

.btnKirim {
    background: linear-gradient(90deg, #73D3FE 0%, #80AFE7 100%);    
    padding: 2px 0px 2px 0px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    width: 40%;
}

.cardBlue {
    background: #3963a3;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 4px;
    margin-left: 40%;
}

.textWhitePesan{
    color: #FFF;
    font-size: 13px;
}

.port-item {
  width: 100%;
  min-width: 0;
}
textarea:focus, input:focus{
    outline: none;
}
.judulUtama{
    color: #050547;
    font-size: 48px;
    float: center;
    text-align: left;
    margin-bottom: 20px;
}
.judulAccordion{
    color: #050547;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: left;
}
.subJudulUtama{
    color: #050547;
    font-size: 16px;
    float: center;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
}
.subJudulClient{
    color: #050547;
    font-size: 20px;
    float: center;
    text-align: right;
    margin-bottom: 20px;
    margin-left: 50px;
}
.subJudulClient2{
    color: #878787;
    font-size: 16px;
    float: center;
    text-align: right;
    margin-bottom: 20px;
    margin-left: 50px;
}

.subJudulClients{
    color: white;
    font-size: 20px;
    float: center;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
}
.subJudulClients2{
    color: white;
    font-size: 16px;
    float: center;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
}

.judulCard{
    color: white;
    font-size: 20px;
    float: center;
    text-align: left;
}

.judulCard1{
    color: white;
    font-size: 16px;
    float: center;
    text-align: center;
}

.subJudulCard{
    color: white;
    font-size: 14px;
    float: center;
    text-align: right;
}

.subJudulRating{
    color: #050547;
    font-size: 20px;
    float: center;
    text-align: left;
    margin-bottom: 20px;
}
.subJudulRating2{
    color: #878787;
    font-size: 16px;
    float: center;
    text-align: right;
    margin-bottom: 20px;
}

.subJudulDigi{
    color: #050547;
    font-size: 20px;
    float: center;
    text-align: left;
    margin-bottom: 20px;
}
.subJudulDigi2{
    color: #878787;
    float: center;
    text-align: left;
    font-weight: normal;
    font-size: 12px; 
}
.textJudul{
    color: #050547;
    font-size: 28px;
    float: center;
    text-align: center;
}
.textJudul2{
    color: #9d9d9d;
    font-size: 16px;
    float: center;
    margin-bottom: 20px;
    text-align: center;
}

.textReview{
    color: #050547;
    font-size: 16px;
    float: right;
    margin-bottom: 20px;
    text-align: right;
}

.textReview2{
    color: #050547;
    font-size: 16px;
    float: left;
    margin-bottom: 20px;
    text-align: left;
}

.image-feature {
  object-fit: contain;
  width: 100px;
  height: 150px;
  padding: 3px;
  border-radius: 12px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.image-review {
  opacity: 1;
  display: block;
  transition: .5s ease; 
  padding: 3px;
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-testimoni {
  opacity: 1;
  transition: .5s ease; 
  padding: 3px;
  border-radius: 12px;
  display: block;
  object-fit: cover;
  width: 80%;
  height: 50%;
}

@import "compass/css3";


.module {
  padding-top: 20px;
  padding-bottom: 5px;
}
 
.come-in {
  transform: translateY(150px);
  animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
@media screen and (max-width: 900px) {
  #bars {
    flex-direction: column !important;
  }
  img { 
        width: 20%;
        height: 75%;
    }
  #spreadImg{
    width: 100%;
    height: 100%;
  }

  #digiImg{
    width: 100%;
    height: 100%;
  }
  #dirutImg{
    width: 100%;
    height: 100%;
  }
}

</style>

<div class="container">
    <div class="badan">
        <div class="flex-header">
            <%= render "/companyprofile/home/mtm_menu.html.erb"%>
        </div>
        
        <div class="flex-body">
          <div id="bars" class="d-flex justify-content-center" style="background-color: #F0F8FF;">
            <div class="port-item p-2" style="text-align:center; margin-top: 100px;">
              <div class="judulUtama" style="margin-top: 2%; padding-top: 10px; text-align: center; padding-bottom: 20px;">
                <strong>Contact Us</strong>
              </div>
            </div>
          </div>


          <div class="module" style="margin-top: -30px;">
            <div class="textJudul" style="margin-top: 4%; line-height: 1.2;">
              Join us to create the best<br>
              digital solutions
            </div>
          </div>

          <div class="module">
            <div class="subJudulDigi2" style="text-align: center;">
              Please get in touch and our expert support team will ansert all<br>your questions.
            </div>
          </div>

          <div class="module" style="margin-top: -30px;">
            <div id="bars" class="d-flex justify-content-center" style="margin-left: 10%; margin-right: 10%;">
              <div class="port-item p-2" style="text-align:center; margin-top: 30px;">  
                <div style="text-align: left;">
                  <form method="POST" class="form-horizontal" action="/companyprofile/home/aksi_contact_us" enctype="multipart/form-data" id="myformHubungi" >
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name">
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" id="message" name="message" rows="10" placeholder="Your Message"></textarea>
                    </div>
                  
                    <button onclick="kirims()" class="btn edit btn-default col-md-12" style="background-image: linear-gradient(to right,#73D3FE, #80AFE7);border-radius: 4px; cursor: pointer;"><span style="color: white;">Submit Message</span></button>
                    <button id="simpan" type="submit" class="btnPilih" hidden></button>
                  </form>
                </div>
              </div>

              <div class="port-item p-2" style="text-align:left; margin-top: 30px;"> 
                <div class="d-flex flex-column" style="padding-left: 30px; padding-right: 65%;">
                  <strong><span class="subJudulDigi">Office Address</span></strong>
                  <br>
                  <strong><span class="subJudulDigi2">
                    <% if @address.present?
                      @address.each do |res| %>
                        <%= res %><br>
                      <%end%>
                    <%end%>
                  </span></strong>
                  <br>
                  <strong><span class="subJudulDigi2">
                    <%= @phone %><br>
                    <%= @email %><br>
                  </span>
                  <br> 
                  <strong><span class="subJudulDigi">Social Media</span></strong>
                    <div class="d-flex flex-row" style="background-color: #272C48; padding-right: 8px; padding-left: 8px; padding-top: 3px; padding-bottom: 5px; border-radius: 6px; width: max-content; margin-top: 10px;">
                      <a href="<%= @facebook %>" target="_blank"><img style="margin-right: 20px;" id="fb" src="<%="/images/icon_fb.png"%>" width="20px" height="20px"></a>                
                      <a href="<%= @twitter %>" target="_blank"><img style="margin-right: 20px;" id="twitter" src="<%="/images/icon_twitter.png"%>" width="20px" height="20px"></a>
                      <a href="<%= @youtube %>" target="_blank"><img style="margin-right: 20px;" id="yt" src="<%="/images/icon_youtube.png"%>" width="20px" height="20px"></a>
                      <a href="<%= @instagram %>" target="_blank"><img id="ig" src="<%="/images/icon_ig.png"%>" width="20px" height="20px"></a>
                    </div>
                </div> 
              </div>
            </div> 
          </div>
          
          <div style="height:30%;margin-top:3%">
              <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=500&amp;height=800&amp;hl=en&amp;q=<%= @maps %>%%&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
              <style>.mapouter{position:relative;text-align:right;width:100%;height:95%;}.gmap_canvas 
              {overflow:hidden;background:none!important;width:100%;height:100%;}.gmap_iframe 
              {width:100%!important;height:100%!important;}</style>             
          </div>
         
      <div class="flex-footer">
          <%= render "/companyprofile/home/mtm_footer.html.erb"%>
      </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    function kirims(){

    var first_name = document.getElementById("first_name").value;
    var last_name = document.getElementById("last_name").value;
    var email = document.getElementById("email").value;
    var message = document.getElementById("message").value;

    if(first_name == ''){
      alert("Nama Anda Belum Diisi");
    }else if(email == ''){
      alert("Alamat Email Belum Diisi");
    }else if(last_name == ''){
      alert("Nama Anda Belum Diisi");
    }else if(message == ''){
      alert("Pesan Anda Belum Diisi");
    }else{      
      $("#simpan").trigger("click");
    }
  }

  $(document).ready(function (e) {
		$("#myformHubungi").on('submit', (function (e) {

			e.preventDefault();
			$.ajax({
				url: "/companyprofile/home/aksi_contact_us",
				type: "POST",
				data: new FormData(this),
				contentType: false,
				cache: false,
				processData: false,
				success: function (result) {
                console.log(result);
                // return
          if (result.status == true) {
              swal("Pesan Terkirim!", "Balasan akan dikirimkan lewat email!", "success").then((value) => {
                    window.location = "";
                });  
          } else {
              swal("Gagal", "Pesan tidak Berhasil Dikirim", "danger").then((value) => {
                    window.location = "";
                }); 
          }
				}
			});
		}));
	});
(function($) {
$.fn.visible = function(partial) {
  var $t            = $(this),
      $w            = $(window),
      viewTop       = $w.scrollTop(),
      viewBottom    = viewTop + $w.height(),
      _top          = $t.offset().top,
      _bottom       = _top + $t.height(),
      compareTop    = partial === true ? _bottom : _top,
      compareBottom = partial === true ? _top : _bottom;
return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

};
  
})(jQuery);

var win = $(window);

var allMods = $(".module");

allMods.each(function(i, el) {
var el = $(el);
if (el.visible(true)) {
  el.addClass("already-visible"); 
} 
});

win.scroll(function(event) {

allMods.each(function(i, el) {
  var el = $(el);
  if (el.visible(true)) {
    el.addClass("come-in"); 
  } 
});

});
</script>
