<%= tinymce_assets %>
<%= tinymce %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
    <div class="card-body">
        <div class="card-title"><h4><i class="fa fa-database"></i> Edit Job</h4></div>
        <div class="card-content">
        <button type="button" class="btn btn-primary" onclick="back()">Kembali</button>
        <br>
            <br>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">
                    <!-- LIST DATA -->
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" class="form-horizontal" action="/backoffice/master/aksi_job" id="form_id" class="uploads" enctype="multipart/form-data">
                                <input type="text" class="form-control" style="display: none" name="id" id="id_id" value="<%= params['id'] %>">
                
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Title:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="title" id="title_id" value="<%= @data['judul'] %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Level:</label>
                                    <div class="col-sm-6">
                                        <select id="level_id" name="level" class="form-control" value="<%= @data['level'] %>">
                                            <option value="Entry Level">Entry Level</option>
                                            <%if @data['status'].to_i == 0%>
                                                <option value="Senior Level" selected>Senior Level</option>
                                            <%else%>
                                                <option value="Senior Level">Senior Level</option>
                                            <%end%>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Experience:</label>
                                    <div class="col-sm-6">
                                        <select id="tahun_id" name="tahun" class="form-control" value="<%= @data['tahun'] %>">
                                            <option value="1 Year" <%= @data['tahun'] == "1 Year" ? "selected" : ""%>>1 Year</option>
                                            <option value="2 Year" <%= @data['tahun'] == "2 Year" ? "selected" : ""%>>2 Year</option>
                                            <option value="More Than 2 Year" <%= @data['tahun'] == "More Than 2 Year" ? "selected" : ""%>>More Than 2 Year</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Qualification:</label>
                                    <div class="col-sm-6">
                                        <select id="qualification_id" name="qualification" class="form-control" value="<%= @data['qualification'] %>">
                                            <option value="Bachelor Degree" <%= @data['qualification'] == "Bachelor Degree" ? "selected" : ""%>>Bachelor Degree</option>
                                            <option value="Magister" <%= @data['qualification'] == "Magister" ? "selected" : ""%>>Magister</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Job Type:</label>
                                    <div class="col-sm-6">
                                        <select id="job_type_id" name="job_type" class="form-control" value="<%= @data['job_type'] %>">
                                            <option value="Full Time" <%= @data['job_type'] == "Full Time" ? "selected" : ""%>>Full Time</option>
                                            <option value="Part Time" <%= @data['job_type'] == "Part Time" ? "selected" : ""%>>Part Time</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Divisi:</label>
                                    <div class="col-sm-6">
                                        <select id="divisi_id" name="divisi_id" class="form-control" value="<%= @data['divisi_id'].to_i %>">
                                            <% @data_divisi['content']['data'].each do |data| %>
                                                <option value="<%= data['id'] %>" <%= @data['divisi_id'].to_i == data['id'].to_i ? "selected" : ""%>><%= data['nama'] %></option>
                                            <% end %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Desc:</label>
                                    <div class="col-sm-10">
                                        <textarea id="desc_id" name="desc" rows="30" cols="80" ><%= @data['desc'].to_s.html_safe %></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Status:</label>
                                    <div class="col-sm-6">
                                        <select id="status_id" name="status" class="form-control">
                                            <option value="1">Aktif</option>
                                            <option value="0">Non Aktif</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btnreset btn btn-warning">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
     function back(){
            window.location = '/backoffice/master/job';
    }

    function tampilkanPreview(userfile, idpreview) {
        var gb = userfile.files;
        for (var i = 0; i < gb.length; i++) {
            var gbPreview = gb[i];
            var imageType = /image.*/;
            var preview = document.getElementById(idpreview);
            var reader = new FileReader();
            if (gbPreview.type.match(imageType)) {
                //jika tipe data sesuai
                preview.file = gbPreview;
                reader.onload = (function (element) {
                    return function (e) {
                        element.src = e.target.result;
                    };
                })(preview);
                //membaca data URL gambar
                reader.readAsDataURL(gbPreview);
            } else {
                //jika tipe data tidak sesuai
                alert("Tipe file tidak sesuai. Gambar harus bertipe .png, .gif atau .jpg.");
            }
        }
    }

    tinymce.init({
  selector: '#desc_id',
  plugins: 'image code',
  toolbar: 'undo redo | link image | code styleselect | bold italic | table ',
  // enable title field in the Image dialog
  image_title: true, 
  // enable automatic uploads of images represented by blob or data URIs
  automatic_uploads: true,
  // add custom filepicker only to Image dialog
  file_picker_types: 'image',
  file_picker_callback: function(cb, value, meta) {
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    input.onchange = function() {
      var file = this.files[0];
      var reader = new FileReader();
      
      reader.onload = function () {
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        // call the callback and populate the Title field with the file name
        cb(blobInfo.blobUri(), { title: file.name });
      };
      reader.readAsDataURL(file);
    };
    
    input.click();
  }
});

  
</script>