<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btn-aktif{
    font-size : 10px;
    overflow: hidden;
    border-radius: 50px;
    display: block;
}
</style>
<div class="card">
    <div class="card-body">
        <div class="card-title"><h4><i class="fa fa-database"></i> Member</h4></div>
        <div class="card-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data"
                        aria-selected="true">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form"
                        aria-selected="false">Form</a>
                </li>
            </ul>
            <br>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">
                    <!-- Search Box -->
                    <strong><i class="fa fa-search"></i> Cari</strong>
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="input-group mb-3">
                                    <input type="hidden" name="page" value="<%= @page %>">
                                    <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Cari..." value="<%= @keyword %>">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Search Box -->
                    <p>
                    <!-- LIST DATA -->
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table table-hover table-striped table-sm table-bordered">
                                    <!-- table-striped -->
                                    <thead>
                                        <tr>
                                                <!-- <tr style="background: rgb(156, 173, 240);"> -->
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Alamat</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 
                                            if @data['content']['data'].present?

                                            @page = params['page'].to_i
                                            if params['page'] == nil || params['page'] == 1
                                            @no = 0
                                            else
                                                @no = (@limit * @page) - @limit
                                            end
                                            @data['content']['data'].each do |res| 
                                        %>
                                            <tr>
                                                <td><%= @no = @no+1 %></td>
                                                <td><%= res['nama'] %></td>
                                                <td><%= res['email'] %></td>
                                                <td><%= res['phone'] %></td>
                                                <td><%= res['alamat'] %></td>
                                                <td align="center">
                                                <%if res['status'] == 1 %>
                                                    <button class="btn btn-sm btn-danger btn-aktif" id="status_id" name="status" value="<%= res['status'] == 1 ? 0 : 1 %>" onclick="activation('<%=res['id'] %>,0')">Non Aktif</button>
                                                <%else%>
                                                     <button class="btn btn-sm btn-success btn-aktif" id="status_id" name="status" value="<%= res['status'] == 0 ? 1 : 0 %>" onclick="activation('<%=res['id'] %>,1')">Aktifkan</button>
                                                <%end%>
                                                
                                                </td>
                                                <td>
                                                    <button class="btnedit btn btn-sm btn-primary" id="aksi_id" onclick="aksi('<%=res.to_json %>')" title="Edit">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        
                                        <% end %>
                                        <% else %>
                                                <tr>
                                                    <td colspan="19" align="center">Maaf, tidak ada data.</td>
                                                </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                            <!-- PAGINATION aja -->
                                
                                    <%= 
                                        @myparaam = '&keyword='+@key.to_s
                                        render '/backoffice/template/pagination_bo' 
                                    %>
                                
                            <!-- PAGINATION -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
                    <strong id="titleAdd"><i  class="fa fa-plus-square"></i> Tambah Data</strong>
                    <strong id="titleEdit"><i class="fa fa-edit"></i> Ubah Data</strong>
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" class="form-horizontal" action="/backoffice/master/aksi_member" id="form_id">
                                <input type="text" class="form-control" style="display: none" name="id" id="id_id" >
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Name:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="nama" id="nama_id" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Password:</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" name="password" id="password_id" required >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Password Confirmation:</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" required >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Email:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="email" id="email_id" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Phone:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="phone" id="phone_id" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Alamat:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="alamat_id" name="alamat" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Status:</label>
                                    <div class="col-sm-6">
                                        <select id="status_id" name="status" class="form-control">
                                            <option value="1">Aktif</option>
                                            <option value="0">Non Aktif</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <!-- <button onclick="simpan()" type="button" class="btn btn-primary">Submit</button> -->
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btnreset btn btn-warning">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

    
    function aksi(data_edit)
    {
        parse = JSON.parse(data_edit);
        console.log(parse);
        id = parse.id
        email = parse.email
        nama = parse.nama
        alamat = parse.alamat
        phone = parse.phone
        status_id = parse.status
       

        $('#id_id').val(id)
        $('#email_id').val(email)
        $('#nama_id').val(nama)
        $('#status_id').val(status_id)
        $('#phone_id').val(phone)
        $('#alamat_id').val(alamat)

        // document.getElementById('password_id').readOnly = true;
        // document.getElementById('password_id').required = false;
        // document.getElementById('password_id').type = "password";
        // document.getElementById('password_confirmation').readOnly = true;
        // document.getElementById('password_confirmation').required = false;
        // document.getElementById('password_confirmation').type = "password";

        // document.getElementById('password-form').style.display = "none";
        // document.getElementById('password-confirmation-form').style.display = "none";

        
        $('#form-tab').click();
    }
function activation(id){
    var data = id.split(",")
    var data1 = data[1]

    var id = id.split(",")
    var ids = id[0]

    var message = data1 == 1 ? "Aktif" : "Non Aktif"

    var status = document.getElementById('status_id').value;
    var msg = "Apakah anda yakin ingin Mengubah Status ini menjadi "+message+"?";
    var r = confirm(msg);
    if (r == true) {
         $.ajax({
            // url:"getdata.php?timestamp="+timestamp+"&uid="+id+"&uname="+name,
            url: "/backoffice/master/aksi_status_member?id="+ids+"&status="+data1, 
            typeData: 'JSON',
            type: 'POST',
            //contentType: 'application/json',
              data: {
                id:id,
                status:data1
            },
            
            success: function(res){
                console.log(res);
                // window.location = "/backoffice/master/member"
               
            },
            error: function(res){
                console.log(res);
                // window.location = "/backoffice/master/member"

            }
        });
        
    }else{
        return false;
    }
}

// var toggle = document.getElementById("checkbox")
// toggle.addEventListener('click', e => {
//     if(toggle.checked){
//         body
//     }
// });
</script>