<%= tinymce_assets %>
<%= tinymce %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
    <div class="card-body">
        <div class="card-title"><h4><i class="fab fa-buffer"></i> Pages </h4></div>
        <div class="card-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data"
                        aria-selected="true">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form"
                        aria-selected="false">Form</a>
                </li>
            </ul>
            <br>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">
                    <!-- Search Box -->
                    <strong><i class="fa fa-search"></i> Cari</strong>
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="input-group mb-3">
                                    <input type="hidden" name="page" value="<%= @page %>">
                                    <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Cari..." value="<%= @keyword %>">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Search Box -->
                    <p>
                    <!-- LIST DATA -->
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table table-hover table-striped table-sm table-bordered">
                                    <!-- table-striped -->
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Page</th>
                                            <th scope="col">Short Desc</th>
                                            <th scope="col">Slug</th>
                                            <th scope="col">Content</th>
                                            <th scope="col">URL</th>
                                            <th scope="col">Cover</th>
                                            <th scope="col">Keyword</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  if @data['content']['data'].present?

                                            @page = params['page'].to_i
                                            if params['page'] == nil || params['page'] == 1
                                            @no = 0
                                            else
                                                @no = (@limit * @page) - @limit
                                            end
                                            @data['content']['data'].each do |res| 
                                         %>
                                            <tr>
                                                <td><%= @no = @no+1 %></td>
                                                <td><%= res['page'] %></td>
                                                <td><%= res['short_desc'] %></td>
                                                <td><%= res['slug'] %></td>
                                                <td style = "overflow: hidden; text-overflow: ellipsis; max-width: 100px; white-space: nowrap;"><%= res['content'] %></td>
                                                <td><%= res['url'] %></td>
                                                <% if res['image_url'].present? %>
                                                <td>
                                                <img src= "<%= ENV['CIRACAS_WEB']+"/"+ res['image_url']%>" alt="rss feed"
                                                     width='100px' height='60px'/>
                                                </td>
                                                <%else%>
                                                    <td>No Image</td>
                                                <%end%>
                                                <td><%= res['keyword'] %></td>
                                                <td align="center">
                                                    <i class="fa <%= res['status'].to_i == 1 ? 'fa fa-check' : 'fa fa-close' %>"
                                                            data-toggle="tooltip" data-placement="top" title="<%= res['status'].to_i == 1 ? 'Aktif' : 'Tidak Aktif' %>">
                                                    </i>
                                                </td>
                                                <td>
                                                    <button class="btnedit btn btn-sm btn-primary" id="aksi_id" onclick="update('<%= res['id'] %>')" title="Edit">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <a href="/backoffice/master/delete_pages?id=<%= res['id'] %>" class="btnedit btn btn-sm btn-danger" onclick="return confirm('Are you sure?')" type="button">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        
                                        <% end %>
                                        <% else %>
                                                <tr>
                                                    <td colspan="19" align="center">Maaf, tidak ada data.</td>
                                                </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                             <!-- PAGINATION aja -->
                                
                                    <%= 
                                        @myparaam = '&keyword='+@key.to_s
                                        render '/backoffice/template/pagination_bo' 
                                    %>
                                
                            <!-- PAGINATION -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
                    <strong id="titleAdd"><i  class="fa fa-plus-square"></i> Tambah Data</strong>
                    <strong id="titleEdit"><i class="fa fa-edit"></i> Ubah Data</strong>
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" class="form-horizontal" action="/backoffice/master/aksi_pages" id="form_id" class="uploads" enctype="multipart/form-data">
                                <input type="text" class="form-control" style="display: none" name="id" id="id_id" >
                
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Page:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="page" id="page_id" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Short Desc</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="short_desc" id="short_desc_id" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Upload Gambar</label><br>
                                    <label class="control-label col-sm-2" for="email">Ukuran 400x200</label>
                                    <div class="col-sm-12">
                                        <input type="file" name="cover" id ="cover_id" class="form-control"  onchange="tampilkanPreview(this,'preview')">
                                        <img id="preview" width="350px" style="margin-top:10px" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Content:</label>
                                    <div class="col-sm-10">
                                        <textarea id="content_id" name="content" rows="30" cols="80" ></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">URL:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="url" id="url_id" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Keyword:</label>
                                    <div class="col-sm-10">
                                        <input type="text"  class="form-control" name="keyword" id="keyword_id" data-role="tagsinput" />
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Status:</label>
                                    <div class="col-sm-6">
                                        <select id="status_id" name="status" class="form-control">
                                            <option value="1">Aktif</option>
                                            <option value="0">Non Aktif</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btnreset btn btn-warning">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script>

    
    function update(id){
        var id = id;
        window.location = '/backoffice/master/edit_pages?id='+id;
    }

    function tampilkanPreview(userfile, idpreview) {
        var gb = userfile.files;
        for (var i = 0; i < gb.length; i++) {
            var gbPreview = gb[i];
            var imageType = /image.*/;
            var preview = document.getElementById(idpreview);
            var reader = new FileReader();
            if (gbPreview.type.match(imageType)) {
                //jika tipe data sesuai
                preview.file = gbPreview;
                reader.onload = (function (element) {
                    return function (e) {
                        element.src = e.target.result;
                    };
                })(preview);
                //membaca data URL gambar
                reader.readAsDataURL(gbPreview);
            } else {
                //jika tipe data tidak sesuai
                alert("Tipe file tidak sesuai. Gambar harus bertipe .png, .gif atau .jpg.");
            }
        }
    }


tinymce.init({
  selector: '#content_id',
  plugins: 'image code table advtable media',
  toolbar: 'undo redo | link image | table | code styleselect | bold italic | media',
  // enable title field in the Image dialog
  media_live_embeds: true,
  image_title: true, 
  // enable automatic uploads of images represented by blob or data URIs
  automatic_uploads: true,
  // add custom filepicker only to Image dialog
  file_picker_types: 'image',
  file_picker_callback: function(cb, value, meta) {
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    input.onchange = function() {
      var file = this.files[0];
      var reader = new FileReader();
      
      reader.onload = function () {
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        // call the callback and populate the Title field with the file name
        cb(blobInfo.blobUri(), { title: file.name });
      };
      reader.readAsDataURL(file);
    };
    
    input.click();
  }
});

// tinymce.init({
//   selector: '#content_id',  // change this value according to your HTML
//   plugins: 'table advtable',
//   menubar: 'table'
// });






</script>
