<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card">
    <div class="card-body">
        <div class="card-title"><h4><i class="fa fa-database"></i> Subscription</h4></div>
        <div class="card-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data"
                        aria-selected="true">Data</a>
                </li>
            </ul>
            <br>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">
                    <!-- Search Box -->
                    <strong><i class="fa fa-search"></i> Cari</strong>
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="input-group mb-3">
                                    <input type="hidden" name="page" value="<%= @page %>">
                                    <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Cari..." value="<%= @keyword %>">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Search Box -->
                    <p>
                    <!-- LIST DATA -->
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table table-hover table-striped table-sm table-bordered">
                                    <!-- table-striped -->
                                    <thead>
                                        <tr>
                                                <!-- <tr style="background: rgb(156, 173, 240);"> -->
                                            <th scope="col">#</th>
                                            <th scope="col">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 
                                            if @data['content']['data'].present?
                                            @page = params['page'].to_i
                                            if params['page'] == nil || params['page'] == 1
                                            @no = 0
                                            else
                                                @no = (@limit * @page) - @limit
                                            end

                                            @data['content']['data'].each do |res| 
                                            
                                            %>
                                            <tr>
                                                <td><%= @no = @no+1 %></td>
                                                <td><%= res['email'] %></td>
                                            </tr>
                                        
                                        <% end %>
                                        <% else %>
                                                <tr>
                                                    <td colspan="19" align="center">Maaf, tidak ada data.</td>
                                                </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                             <!-- PAGINATION aja -->
                                
                                    <%= 
                                        @myparaam = '&keyword='+@key.to_s
                                        render '/backoffice/template/pagination_bo' 
                                    %>
                                
                            <!-- PAGINATION -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
                    <strong id="titleAdd"><i  class="fa fa-plus-square"></i> Tambah Data</strong>
                    <strong id="titleEdit"><i class="fa fa-edit"></i> Ubah Data</strong>
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" class="form-horizontal" action="/backoffice/master/aksi_modul" id="form_id">
                                <input type="text" class="form-control" style="display: none" name="id" id="id_id" >

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Name:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="name" id="name_id" >
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Url:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="url" id="url_id" >
                                        </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Status:</label>
                                    <div class="col-sm-6">
                                        <select id="status_id" name="status" class="form-control">
                                            <option value="1">Aktif</option>
                                            <option value="0">Non Aktif</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btnreset btn btn-warning">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    
    function aksi(data_edit)
    {
        parse = JSON.parse(data_edit);
        //console.log(parse.id);
        id = parse.id
        name = parse.module
        url = parse.url
        status_id = parse.status

        $('#id_id').val(id)
        $('#url_id').val(url)
        $('#name_id').val(name)
        $('#status_id').val(status_id)
        
        $('#form-tab').click();
    }
</script>