<div id="detail_pengajuan_pass">

    <%= render "/my_template/header_nama" %>


    <div class="container" style="margin-top: 20%;">

        <br>
        <center>
            <h3 style="color: #3a4d87;">Syarat dan Ketentuan</h3>
        </center>

        <div style="width:100%; height:3px; background-color:darkgray; margin-bottom:15px">
        </div>

        <div class="card text-dark">
            <div width="100%"
                style="overflow-x: hidden; background-color: #f1f1f1; padding:15px; height:350px; text-size:10px"
                align="justify">

                <div id="termKopkar_id" style="display:none">

                    <%= @termkopkar.html_safe %>

                </div>

                <div id="termBmt_id" style="display:none">

                    <%= @termbmt.html_safe %>

                </div>


            </div>
        </div>
        <br>
        <table width="100%">
            <tr>
                <td width="5%" valign="top">
                    <input type="checkbox" name="vehicle1" value="Bike" id="agree_id">
                </td>
                <td>
                    <p align="justify">
                        <label for="agree_id">Saya telah membaca dan
                            setuju dengan syarat dan ketentuan yang berlaku</label>
                    </p>
                </td>
            </tr>
        </table>


        <div class="" align="center" style="margin-bottom: 20px">

            <div id="divPassID">

                <table border="0" width="100%">
                    <tr>
                        <td>
                            <button type="button" id="tidaksetuju_id"
                                style="background-color: white; color:#3a4d87; border-color:#3a4d87;"
                                class="btn btn-block"><strong><span>Tidak</span></strong></button>
                        </td>
                        <td>
                            <button type="button" id="setuju_id" style="background-color: #3a4d87; color:white"
                                class="btn btn-block"><strong><span>Setuju</span></strong></button>
                        </td>

                    </tr>

                </table>

            </div>
        </div>
        <br>
    </div>
</div>

<div id="layout_pass">

    <%= render "/my_template/header_nama" %>


    <div style="margin-top: 5%;" align="center">
        <img src="https://res.cloudinary.com/officemtm/image/upload/v1573788910/DIGICash/im-password_aunkxx.png"
            width="60%" height="60%" alt="">
    </div>
    <div class="container">
        <div class="card text-dark">
            <div class="card-body" style="background-color: #f1f1f1;">
                <table width="100%" border="0">
                    <tr style="background-color: #3a4d87;">
                        <td>
                            <input id="passDonasiID" size="30" type="password" class="form-control" name="passDonasi"
                                placeholder="Masukan Password Anda">
                        </td>
                        <td>
                            <span style="margin-left:10px; color:white" toggle="#passDonasiID"
                                class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td colspan="2">
                            <div class="alert alert-danger" role="alert" style="font-size: 10px; margin-top:10px;">
                                * Pembatalan pengajuan pembiayaan hanya bisa dilakukan oleh Tim PNM DigiCash.
                            </div>
                        </td>
                    </tr> -->

                </table>
            </div>
        </div>


        <table width="100%" border="0" style="margin-top: 20px; margin-bottom:20px;">
            <tr width="100%">
                <td align="center" width="100%">
                    <button type="button" id="btn_confirm_pass" style="background-color: #3a4d87; color:white"
                        class="btn btn-block"><strong><span id="textBeliBtn_id">Lanjut</span></strong></button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="layout_sukses_gagal" style="display: none;" align="center">

    <%= render "/my_template/header_nama" %>


    <div style="margin-top: 10%;">
        <img src="https://res.cloudinary.com/officemtm/image/upload/v1573788908/DIGICash/im-sukses_ill4fj.png" alt="">
    </div>
    <div class="container">
        <div class="" align="center" style="margin-bottom: 20px">
            <img src="https://res.cloudinary.com/officemtm/image/upload/v1573800572/DIGICash/berhasil_r58hhq.gif"
                width="65px" height="65px" alt="">

            <br>

            <div style="margin-top: 25px;" id="sukses_exdigi" style="display: none;">
                <h5>
                    Yey.. Pengajuan pembiayaan kamu sudah berhasil diajukan, Silahkan tunggu beberapa saat menunggu
                    proses approval.
                </h5>
            </div>
            <div style="margin-top: 25px;" id="sukses_digi" style="display: none;">
                <h5>
                    Yey.. Pengajuan pembiayaan kamu sudah berhasil diajukan, Silahkan tunggu beberapa saat menunggu
                    proses approval.
                </h5>
                
            </div>
            <br>
            <table border="0" width="100%">
                <tr>
                    <td>
                        <button type="button" id="back_tohome"
                            style="background-color: white; color:#3a4d87; border-color:#3a4d87;"
                            class="btn btn-block"><strong><span>Kembali ke halaman utama</span></strong></button>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <div class="alert alert-danger" role="alert" style="font-size: 10px; margin-top:10px;">
                                * Pembatalan pengajuan pembiayaan hanya bisa dilakukan oleh Tim PNM DigiCash.
                        </div>
                    </td>
                </tr> -->
            </table>
        </div>
    </div>
</div>