<div id="pengajuan_id">

    <%= render "/my_template/header_nama" %>

    <div class="container" style="margin-top: 20%;">
        <div class="form-group">
            <label>Nama Lengkap</label>
            <input type="text" class="form-control" name="nama" id="nama_id" value="<%= @data['data']['nama'] %>"
                aria-describedby="emailHelp" readonly>
        </div>
        <div class="form-group">
            <label>NIK (Nomor Induk Karyawan)</label>
            <input type="text" class="form-control" name="nik" id="nik_id" value="<%= @data['data']['nip'] %>"
                aria-describedby="emailHelp" readonly>
        </div>
        <div class="form-group">
            <label>Unit Kerja</label>
            <textarea name="entity" id="entity_id" class="form-control" disabled cols="30" data-autoresize
                rows="2"><%= @data['data']['unit_kerja'] %></textarea>
        </div>
        <div class="form-group">
            <label>Posisi / Jabatan</label>
            <textarea name="posisi" id="posisi_id" class="form-control" disabled cols="30"
                rows="1"><%= @data['data']['jabatan'] %></textarea>

        </div>
        <div class="form-group" style="display: none;">
            <label>Lama Bekerja</label>

            <input type="text" class="form-control" name="lama_kerja" id="lama_kerja_id"
                value="<%= @data['data']['jabatan'] %>" readonly>
        </div>

    </div>
    <div align="center">
        <div style="background-color: #3a4d87; color:white; padding:15px" onclick="nextFunct()"
            style="cursor: pointer;">Lanjutkan
        </div>
    </div>
</div>