 <!-- start plafond form -->


 <div style="margin-top:10px" id="plafond_id">

     <div class="containerxxx">
         <img src="https://res.cloudinary.com/officemtm/image/upload/v1575208276/DIGICash/kartu_pinjaman1_i1jaj5.png"
             style="width:100%; ">


         <div class="top-left" style="padding-left:10px;">
             <img src="https://res.cloudinary.com/officemtm/image/upload/v1573788733/DIGICash/logo_digicash_hico8r.png"
                 width="45px" height="45px" alt="">
         </div>

         <div class="top-right" style="color: #fff; padding-right:10px;">
             <!-- <a>
                    <span > -->
             <small> Saldo Digi :</small> <%= number_to_currency(@data_wallet, format: "Rp. %n") %>

             <!-- <i class="fa fa-user-circle fa-2x">
                        </i> -->
             <!-- </span>
                </a> -->
         </div>

         <div class="centered" style="padding-left: 8px;" align="left">
             <span style="margin-bottom: 5px">
                 <small>Maksimal Plafond </small>
             </span>
             <span>
                 <a onclick="gotoPortofolio('portofolio')">
                     <h2>
                         <small><%= @data['data']['plafond'] == '-' ? "Rp. 0" : number_to_currency(@data['data']['plafond'], format: "Rp. %n") %></small>
                     </h2>
                 </a>
             </span>
         </div>

         <div class="bottom-left" style="margin-bottom: 20px; padding-left: 8px;;">
             <%= session[params['userName']]['nama'] %>
         </div>

         <div class="bottom-right" style="margin-bottom: 20px; padding-right:10px;">
             NIK : &nbsp; <%= session[params['userName']]['nip'] %>
         </div>

     </div>


     <div class="container">
         <div class="form-group">
             <span><small>Tentukan jumlah pengajuan pembiayaan :</small></span>

             <div align="left">
                 <input onchange="cekInputManual(this.value)" id="value_slider" style="width: 100%;
                padding: 6px 10px;
                margin: 4px 0;
                box-sizing: border-box;
                text-align:center;
                border: none;
                border-bottom: 2px solid #3a4d87;" value="Rp. 500.000" step="100000">
                 <small class="form-text text-muted">* Jumal pengajuan pembiayaan kelipatan Rp. 100.000 </small>
             </div>
             <div class="slidecontainer" style="margin-top: 10px;">
                 <input type="range" min="500000" step="100000" max="<%= @data['data']['plafond'] %>" value="50"
                     class="slider" id="slider_os">

                 <div>
                     <center>
                         <strong>
                             <!-- <span id="value_slider"></span> -->
                             <input id="value_slider2" style="display:none;"> </input>
                         </strong>
                     </center>
                 </div>
             </div>

             <div align="center" hidden>
                 <a>
                     <span class="badge badge-pill" style="background-color: #3a4d87 ; color:white">Input Manual</span>
                 </a>
             </div>


         </div>

         <div class="form-group">

             <span><small>Pilih Lender :</small></span>

             <table border="0" width="100%" style="margin-top: 5px;">
                 <tr align="center">
                     <!-- <td> -->
                     <!-- <div id="myDIV" align="center"> -->

                     <td width="10%"></td>

                     <% @datalender.each do |item| %>

                     <%
                                if item['id'] == 1 
                                    lendernya = "Syariah"
                                    idleder = "lend_syar_id"
                                    allender = "right"
                                elsif item['id'] == 2
                                    lendernya = "Konvensional"
                                    idleder = "lend_konve_id"
                                    allender = "left"
                                else # sudah_lunas
                                    lendernya = ''
                                    idleder = ''
                                 end

                                 if item['status'] == 1
                                    stat_lender = item['imageurl']
                                 else
                                    stat_lender = ""
                                 end
                    %>

                     <td align="center" style="background-color: white;"
                         id="color<%= item['id'] %>">
                         <a id="<%= idleder %>" onclick="chooseLender('<%= idleder %>', '<%= item['id'] %>' )">
                             <img src="<%= stat_lender %>" alt="" height="80px" width="80px">
                         </a>
                     </td>

                     <% end %>
                     <td width="10%"></td>


                 </tr>


             </table>


         </div>
         <input style="display: none;" id="pilihan_lend"></input>

         <div class="form-group">
             <label><small>Tujuan Pencairan :</small></label>

             <!-- START METODE PENCAIRAN -->

             <table class="center" width="100%">

                 <tr class="center" align="center" style="display: none;">
                     <td id="max_cek_limit_digi">
                         <div class="form-check-inline">
                             <label class="form-check-label" for="wallet_id">
                                 <input type="checkbox" class="form-check-input" id="wallet_id" name="wallet_id"
                                     value="wallet_id" onchange="checkPnmDigi(this.checked)">
                             </label>
                         </div>
                     </td>
                     <td>
                         <div class="form-check-inline">
                             <label class="form-check-label" for="bnicheck_id">
                                 <input type="checkbox" class="form-check-input" id="bnicheck_id" name="bnicheck_id"
                                     value="bnicheck_id" onchange="checkBank(this.checked)">
                             </label>
                         </div>
                     </td>
                     <td>
                         <div class="form-check-inline">
                             <label class="form-check-label" for="linkaja_id">
                                 <input type="checkbox" class="form-check-input" id="linkaja_id" name="linkaja_id"
                                     value="linkaja_id" onchange="checkLinkAja(this.checked)">
                             </label>
                         </div>
                     </td>
                 </tr>


             </table>


             <table class="center" width="100%">
                 <tr align="center">

                     <% @databank.each do |item| %>

                     <%

                                    if item['status'] == 1
                                       stat_bank = item['imageurl']
                                    else
                                        stat_bank = ""
                                    end

                                    if item['nama_bank'] == "PNMDigi"
                                        id_bank = "max_cek_limit_digix"
                                        nama_bank = "PnmDigi"
                                    elsif item['nama_bank'] == "BANK"
                                        id_bank = "bankcol"
                                        nama_bank = "Bank"
                                    elsif item['nama_bank'] == "LinkAJA"
                                        id_bank = "linkcol"
                                        nama_bank = "LinkAja"
                                    else
                                        id_bank = ""

                                    end
                       %>

                     <td align="center" id="<%= id_bank %>" style="background-color: white; ">
                         <a onclick="chooseTujuanPencairan('<%= nama_bank %>')">
                             <img src="<%= stat_bank %>" alt="" height="110px" width="110px">
                         </a>
                     </td>

                     <% end %>

                 </tr>
             </table>





                 <!-- <td align="center" id="max_cek_limit_digix" style="background-color: white;">
                         <a onclick="chooseTujuanPencairan('PnmDigi')">
                             <img src="https://res.cloudinary.com/officemtm/image/upload/v1574407646/DIGICash/pnmdigipencarian_oeum1f.png"
                                 alt="" height="110px" width="110px">
                         </a>
                     </td>
                     <td align="center" id="bankcol" style="background-color: white;">
                         <a onclick="chooseTujuanPencairan('Bank')">
                             <img src="https://res.cloudinary.com/officemtm/image/upload/v1574407646/DIGICash/bankpencarian_q30ihf.png"
                                 alt="" height="110px" width="110px">
                         </a>
                     </td>
                     <td align="center" id="linkcol" style="background-color: white;">
                         <a onclick="chooseTujuanPencairan('LinkAja')">
                             <img src="https://res.cloudinary.com/officemtm/image/upload/v1574407646/DIGICash/Linkajadigipencarian_oo8e35.png"
                                 alt="" height="110px" width="110px">
                         </a>
                     </td> -->



             <!-- END METODE PENCAIRAN -->



             <div class="card" style="margin-top:10px;" width="100%" id="det_wallet">
                 <div class="cardx-bodyx">
                     <table border="0" width="100%">
                         <tr>
                             <td>
                                 <small>Nama Pemilik</small>
                             </td>
                             <td class="kanan">
                                 <small><strong><%= session[params['userName']]['nama'] %></strong></small>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <small>ID Wallet</small>
                             </td>
                             <td class="kanan">
                                 <small><strong><%= session[params['userName']]['walletid'] %></strong></small>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <small>Saldo PNM Digi</small>
                             </td>
                             <td class="kanan">
                                 <small><strong><%= number_to_currency(@data_wallet, format: "Rp. %n") %></strong></small>
                             </td>
                         </tr>
                     </table>
                     <span class="badge badge-pill badge-primary">* Free biaya transfer</span>
                     <span class="badge badge-pill badge-success" hidden>* Langsung di transfer ke saldo PNM Digi</span>


                 </div>
             </div>

             <div class="card" style="margin-top:10px;" width="100%" id="det_bank">
                 <div class="cardx-bodyx">
                     <table border="0" width="100%">
                         <tr>
                             <td>
                                 <small>Atas Nama</small>
                             </td>
                             <td class="kanan">
                                 <small><strong><%= @data['data']['namarek'] %></strong></small>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <small>Bank</small>
                             </td>
                             <td class="kanan">
                                 <small><strong><%= @data['data']['namabank'] %></strong></small>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <small>Nomor Rekening</small>
                             </td>
                             <td class="kanan">
                                 <small><strong><%= @data['data']['norek'] %></strong></small>
                             </td>
                         </tr>
                     </table>
                     <span class="badge badge-pill badge-primary">* Dikenai biaya Transfer</span>
                 </div>
             </div>

             <div class="card" style="margin-top:10px;" width="100%" id="det_linkaja">
                 <div class="cardx-bodyx">
                     <table border="0" width="100%">
                         <tr>
                             <td>
                                 <small>Atas Nama</small>
                             </td>
                             <td class="kanan">
                                 <small><strong><%= @data['data']['namarek'] %></strong></small>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <small>Tujuan</small>
                             </td>
                             <td class="kanan">
                                 <small><strong>LinkAja</strong></small>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <small>Nomor LinkAja</small>
                             </td>
                             <td class="kanan">
                                 <input type="number" id="no_linkaja_id" size="15"
                                     value="<%= session[params['userName']]['nohp'] %>" placeholder="Nomor LinkAja"
                                     onchange="cekPencairanBy(this.value)"
                                     style="text-align:right ;border: none; border-bottom: 2px solid #3a4d87;">

                             </td>
                         </tr>
                     </table>
                     <span class="badge badge-pill badge-primary">* Dikenai biaya Transfer</span>

                     <div class="alert alert-danger" role="alert" style="font-size: 12px; margin-top:5px;"
                         id="deal_ganti_nmr">
                         * Anda menyetujui telah menginput nomor LinkAja yg berbeda dengan yg terdaftar di PNM
                         Digi.
                     </div>

                 </div>
             </div>

         </div>

         <input style="display: none;" value="3" id="pilihan_bayarby"></input>

         <div class="" align="center" style="margin-bottom: 20px">


             <table border="0" width="100%">
                 <tr>
                     <td width="100px">
                         <button type="button" style="background-color: white; color:#3a4d87; border-color:#3a4d87;"
                             onclick="backFunct()" class="btn btn-block"><strong><span>Kembali</span></strong></button>
                     </td>
                     <td width="100px">
                         <button type="button" style="background-color: #3a4d87; color:white" onclick="submitFunct()"
                             class="btn btn-block"><strong><span>Lanjut</span></strong></button>
                     </td>

                 </tr>

             </table>

         </div>
     </div>



     <!-- <div align="center">
         <div style="background-color: #3a4d87; color:white; padding:15px" onclick="submitFunct()"
             style="cursor: pointer;">Lanjutkan
         </div>
     </div>
     <div align="center">
         <div style="background-color: #d3d3d3; color:white; padding:15px" onclick="backFunct()"
             style="cursor: pointer;">Kembali
         </div>
     </div> -->
 </div>
 <!-- end plafond form -->