<%= render "shared/my_css.css" %>

<!-- <div class="profileatas"> -->




<div id="layout_alert">

    <%=render "/my_template/pengajuan_gagal_alert"%>

</div>

<div id="home_det" style="display: none;">
    <div class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"
        style="overflow-y: auto;">

        <div class="containerxxx">
            <img src="https://res.cloudinary.com/officemtm/image/upload/v1575208276/DIGICash/kartu_pinjaman1_i1jaj5.png"
                style="width:100%; ">


            <div class="top-left" style="padding-left:10px;">
                <img src="https://res.cloudinary.com/officemtm/image/upload/v1575361186/DIGICash/DIGICASHLOGOPUTIH_hjqwgu.png"
                    width="45px" height="45px" alt="">
            </div>

            <div class="top-right" style="color: #fff; padding-right:10px;">
                <!-- <a>
                    <span > -->
                           <small> Saldo Digi :</small> <%= number_to_currency(@data_wallet, format: "Rp. %n") %>

                        <!-- <i class="fa fa-user-circle fa-2x">
                        </i> -->
                    <!-- </span>
                </a> -->
            </div>

            <div class="centered" style="padding-left: 8px;" align="left">
                <span style="margin-bottom: 5px">
                    <small>Total Pembiayaan kamu </small>
                </span>
                <span>
                    <!-- <a onclick="gotoPortofolio('portofolio')"> -->
                        <a>

                        <h2>
                            <% 
                          
                                if @datahistori.count >=1
                                    if @datahistori[0]['status'] == 'sudah_pencairan' 

                                        status_plafond = number_to_currency(@datahistori[0]['plafond'], format: "Rp. %n")
                                    else 
                                        status_plafond = 'Rp. 0'
                                    end
                                else 
                                    status_plafond = 'Rp. 0'

                                end
                    
                            %>
                            <small><%= status_plafond %></small>

                        </h2>
                    </a>
                </span>
            </div>

            <div class="bottom-left" style="margin-bottom: 20px; padding-left: 8px;">
                <%= session[params['userName']]['nama'] %>
            </div>

            <div class="bottom-right" style="margin-bottom: 20px; padding-right:10px;">
                NIK : &nbsp; <%= session[params['userName']]['nip'] %>
            </div>

        </div>

        <div id="tabelini" style="overflow-x:auto; padding-left:10px">
            <table class="tabel">
                <tr>
                    <th> <a href="http://blog.m2pay.id/2019/11/11/apa-itu-digicash/"><img
                                src="https://res.cloudinary.com/officemtm/image/upload/v1573788908/DIGICash/hijau_lcetdp.png"
                                alt="imageslide1" style="height:224px;width:159px;"></a> </th>
                    <th><a href="http://blog.m2pay.id/2019/11/12/skema-pinjaman/"><img
                                src="https://res.cloudinary.com/officemtm/image/upload/v1573788908/DIGICash/biru_o2rird.png"
                                alt="imageslide2" style="height:224px;width:159px;"></a></th>
                    <th><a href="http://blog.m2pay.id/2019/11/11/bagaimana-cara-menggunakan-digicash/"><img
                                src="https://res.cloudinary.com/officemtm/image/upload/v1573788910/DIGICash/ungu_lx5a3f.png"
                                alt="imageslide3" style="height:224px;width:159px;"></a></th>
                    <th><a href="http://blog.m2pay.id/2019/11/15/syarat-dan-ketentuan-digicash/"><img
                                src="https://res.cloudinary.com/officemtm/image/upload/v1573788910/DIGICash/merah_f9wif0.png"
                                alt="imageslide4" style="height:224px;width:159px;"></a></th>
                </tr>
            </table>
        </div>

        <div style="margin-top: 20px;">
            <a onclick="goToContent('simulasi')">

                <table style="border-top: 2px solid #D3D3D3; border-bottom: 2px solid 	#D3D3D3; " width="100%">
                    <tr>
                        <td width="5px" style="background-color: #3a4d87;">
                        </td>
                        <td valign="middle">
                            <div style="padding-left: 10px; padding-top:5px;">
                                <strong>Simulasi Pengajuan Pembiayaan</strong>
                                <div><small> Bisa simulasikan berapa pengajuan pembiayaan kamu disini loh ..!!</small></div>
                            </div>
                        </td>
                        <td width="10%">
                            <a>
                                <span style="color: #3a4d87;">
                                    <i class="fa fa-chevron-right fa-lg"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </a>

            <div>

                <div style="padding-left: 10px; margin-top:20px" align="center"> 
                    <h6 style="color: #3a4d87;">Powered by :</h6>
                </div>

                <div class="cardyy">

                    <div style="padding-left:20px; padding-right:20px; margin-top:0px; margin-bottom:10px; ">
                        <table align="center" style="" border="0" width="100%">
                           
                            <tr width="100%">
                                <th rowspan="2" class="kiri">
                                        <!-- <h6><small>Reksadana ini atas kerjasama :</small></h6> -->
                                        <img height="100px" width="100px"
                                            src="https://res.cloudinary.com/officemtm/image/upload/v1574740413/PNM%20DIGI/padingfix_sefyve.png" >
                                </th>
                                <th class="tengah">
                                    <div>
                                        <img width="200px" height="50px" src="https://res.cloudinary.com/officemtm/image/upload/v1574652929/DIGICash/Logo_Kopkar_gj7cmb.png">
                                    </div>
                                </th>
                            </tr>
                            <tr width="100%">
                                <th class="tengah">
                                        <div>
                                            <img width="200px" height="50px"
                                                src="https://res.cloudinary.com/officemtm/image/upload/v1574654278/DIGICash/LOGO_BMT_Salama_n8swfd.png">
                                        </div>               
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div id="history_belumpernah" align="center" style="margin-top: 20%; display:none; ">

                <div style="margin-top: 10%;">
                    <img src="https://res.cloudinary.com/officemtm/image/upload/v1574320006/DIGICash/Asset_1_wkx2ys.png"
                        alt="" width="100%" height="100%">
                </div>
                <div class="container">
                    <div class="" align="center" style="margin-bottom: 20px">
        
                        <br>
                        <br>
                        <table border="0" width="100%" style="margin-top: 25px;">
                            <tr>
                                <td>
                                   
                                    <div class="alert alert-warning" role="alert">
                                            Opps.. sepertinya kamu belum pernah melakukan pengajuan pembiayaan di DigiCash.
                                            </div>
                                    <button type="button" id="ke_pengajuan"
                                    style="background-color:#3a4d87; color:white; border-color:#3a4d87;"
                                    class="btn btn-block"><strong><span>Ajukan Pembiayaan Sekarang !</span></strong></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        
            </div>



        <div id="history_home" style="display: none;">

            <div style="padding-left: 10px; margin-top:20px" align="center">
                <h6 style="color: #3a4d87;">&nbsp; Riwayat Pengajuan Pembiayaan &nbsp;</h6>
            </div>

            <div style="overflow-y: auto;">
                <% @datahistori.first(3).each do |item| %>


                <div class="cardxx" height="100%">
                    <table border="0" width="100%">
                        <tr>
                            <td>
                                Tanggal Pengajuan
                            </td>
                            <td class="kanan">
                                <%= DateTime.parse(item['tanggal_transaksi']).strftime('%d-%m-%Y') %>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Nominal
                            </td>
                            <td class="kanan">
                                <strong><%= number_to_currency(item['plafond'].to_i, format: "Rp. %n") %></strong>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Status
                            </td>
                            <td class="kanan">
                                <% 
                                if item['status'] == 'pending' 
                                    badge = 'warning'
                                    stats_det = 'Pending'
                                elsif item['status'] == 'disetujui' 
                                    badge = 'info'
                                    stats_det = 'Disetujui'
                                elsif item['status'] == 'ditolak' 
                                    badge = 'danger'
                                    stats_det = 'Ditolak'
                                elsif item['status'] == 'sudah_pencairan' 
                                    badge = 'success'
                                    stats_det = 'Sudah Pencairan'
                                elsif item['status'] == 'sudah_lunas'
                                    badge = 'primary'
                                    stats_det = 'Sudah Lunas'
                                else 
                                    badge = 'primary'
                                    stats_det = 'Sudah Lunas'
                                end
                                                %>
                                <span class="badge badge-<%=badge%>">
                                    <%= stats_det %>
                                </span>
                            </td>
                        </tr>

                    </table>



                    <a id="go_tohistori"> <span class="badge badge-pill badge-primary">Detail Pengajuan</span></a>




                </div>

                <% end %>
            </div>


        </div>

    </div>

</div>

<div class="getstart" id="getstarted_layout" style="display: none;" height="2000px">

        <%= render "/my_template/layout_getstarted" %>

</div>

<script>
    $(document).ready(function () {

        $('#history_home').hide()
        $('#history_belumpernah').hide()
        $('#getstarted_layout').hide()

        if ('<%= @datahistori.count %>' >= 1) {

            $('#history_home').show()
            $('#history_belumpernah').hide()
            $('#getstarted_layout').hide()


        } else {
            
            $('#history_home').hide()
            $('#history_belumpernah').show()
            $('#getstarted_layout').hide()

        }

        var xn = '<%= @datahistori.count %>' ;

        if (xn >= 1){

            $('#home_det').show()


        } else {

            $('#getstarted_layout').show()
            $('#home_det').hide()


        }

        $("#get_started_go").click(function () {
            $('#getstarted_layout').hide()
            $('#home_det').show()

        });

    });

    $("#go_tohistori").click(function () {


        var userName = '<%=params['userName']%>';
        var password = '<%=params['password']%>';
        myLoadingAjax()
        $.ajax({
            url: '/my_template/' + "histori" + "?userName=" + userName + "&password=" + password,
            dataType: 'html',
            beforeSend: function () {

                //  $('.modal_json').fadeIn('fast');
            },
            success: function (data) {
                $('#mycontent').html(data)
                //  $('#myModal').modal('hide')
            },
            error: function () {
                $('#mycontent').html("")
            },
            complete: function () {}
        });

    });

    

    $("#ke_pengajuan").click(function () {


        var userName = '<%=params['userName']%>';
        var password = '<%=params['password']%>';
        myLoadingAjax()
        $.ajax({
            url: '/my_template/' + "pengajuan" + "?userName=" + userName + "&password=" + password,
            dataType: 'html',
            beforeSend: function () {

                //  $('.modal_json').fadeIn('fast');
            },
            success: function (data) {
                $('#mycontent').html(data)
                //  $('#myModal').modal('hide')
            },
            error: function () {
                $('#mycontent').html("")
            },
            complete: function () {}
        });

    });
</script>