<%= render "shared/my_css.css" %>
<%= render "/shared/myalert.js"%>


<div class="containerxxx" style="background-color: #3a4d87;" hidden>
    <div class="profileatas" style="background-color: #3a4d87; padding-bottom:10px;">

        <div class="top-left" style="padding-left:10px;">
            <img src="https://res.cloudinary.com/officemtm/image/upload/v1573788733/DIGICash/logo_digicash_hico8r.png"
                width="35px" height="35px" alt="">
        </div>

        <div class="top-right">
            <a href="/my_template/profile?userName=<%= params['userName']%>&password=<%= params['password'] %>">
                <span style="color: #fff; padding-right:10px;">
                    <i class="fa fa-user-circle"></i>
                    &nbsp;<%= truncate(session[params['userName']]['nama'], :length => 17) %>
                </span>
            </a>
        </div>
    </div>
</div>

<!-- =============================== ISIAN BODY =============================== -->


<div id="pengajuan_notallowed" style="display: none" width="100%">


    <%= render "/my_template/header_nama" %>


    <div style="margin-top: 5%;" align="center">
        <img src="https://res.cloudinary.com/officemtm/image/upload/v1574307162/DIGICash/Asset_2_eafodu.png" width="70%"
            height="40%" alt="">
    </div>

    <div class="alert alert-warning" role="alert" style="padding:10px; display:none;" align="center" id="gaboleminjem">
        Mohon Maaf Kamu belum bisa melakukan pengajuan pembiayaan di DigiCash.
    </div>

    <div class="alert alert-warning" role="alert" style="padding:10px; display:none;" align="center" id="ada_histori" >
        Mohon Maaf Kamu belum bisa melakukan pengajuan pembiayaan di DigiCash.
        <br>
        Silahkan cek menu Riwayat Transaksi untuk melihat pengajuan pembiayaan DigiCash yang aktif.
    </div>

    <div>
        <button type="button" id="tidaksetuju_id" style="background-color: #3a4d87; color:white; border-color:#3a4d87;"
            class="btn btn-block"><strong><span>Kembali ke halaman utama</span></strong></button>

    </div>

</div>

<div id="pengajuan_allow" style="display: none">

    <!-- Start Detail Karyawan from SDM  -->
    <%=render "/my_template/pengajuan_detail_karyawan"%>
    <!-- End Detail Karyawan from SDM -->

    <!-- Start Pilih Jumlah Pinjaman -->
    <%= render "/my_template/pengajuan_pilih_jml_pinjaman" %>
    <!-- End Pilih Jumlah Pinjaman -->


    <!-- Start Detail Biaya Pengajuan -->
    <%= render "/my_template/pengajuan_detail_biaya" %>
    <!-- End Detail Biaya Pengajuan -->

</div>

<!-- END -->
<!-- END -->

<%= render "shared/my_pengajuan_simulasi.js" %>