<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-analytics.js"></script>
<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-auth.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyAs279Mx5j8dh_N_GQ9z2lyTXaRMA5eHtk",
        authDomain: "testing-37d37.firebaseapp.com",
        databaseURL: "https://testing-37d37.firebaseio.com",
        projectId: "testing-37d37",
        storageBucket: "testing-37d37.appspot.com",
        messagingSenderId: "358118025923",
        appId: "1:358118025923:web:3b3892b9c6b9b909ccd076",
        measurementId: "G-LELN8H9N36"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    firebase.auth().useDeviceLanguage();
</script>





<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Accordion examples">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
</head>

<body style="overflow-y: auto; margin-bottom:20%">


    <style>
        .btn.active {
            background-color: #ffff !important;
            color: #005fa3;
            box-shadow: 0 5px #666;
            /* transform: translateY(4px); */
        }

        .btn:active {
            background-color: #ffff;
            box-shadow: 0 5px #666;
            color: #005fa3;
            /* transform: translateY(4px); */
        }

        .bottom-nav .button {
            width: 100%;
            height: 100%;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            text-align: center;
            text-transform: capitalize;
            margin: 0;
            border-radius: 0;
            line-height: normal;
        }

        .bottom-nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            height: 56px;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            -webkit-box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.16), 0 -1px 5px 0 rgba(0, 0, 0, 0.26);
            box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.16), 0 -1px 5px 0 rgba(0, 0, 0, 0.26);
            z-index: 1030;
        }

        .img {
            max-width: 100%;
            height: auto;
        }

        .modal_json {
            display: none;
            padding: 50% 50% 50% 50%;
            position: fixed;
            z-index: 1000000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0.80;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
            filter: alpha(opacity=10);
            background-color: #ffffff;
        }

        .body_all {
            width: 100%;
            height: 100%;
            background-color: #fff;
        }

        .btn_home {
            height: 15px;
            width: 15px;
            background-image: url('https://res.cloudinary.com/officemtm/image/upload/v1573788731/DIGICash/icon_home_o5zzcg.png');
            background-repeat: no-repeat;
        }

        .btn_pengajuan {
            height: 15px;
            width: 15px;
            background-image: url('https://res.cloudinary.com/officemtm/image/upload/v1573788732/DIGICash/icon_spun0x.png');
            background-repeat: no-repeat;
        }

        .btn_history {
            height: 15px;
            width: 15px;
            background-image: url('https://res.cloudinary.com/officemtm/image/upload/v1573788731/DIGICash/icon_histori_qiwxbq.png');
            background-repeat: no-repeat;
        }
    </style>

    <%= render "shared/my_css.css" %>


    <div class="containerxxx" style="background-color: #3a4d87;">
        <div class="profileatas" style="background-color: #3a4d87; padding-bottom:10px;">

            <div class="top-left" style="padding-left:10px;">
                <img src="https://res.cloudinary.com/officemtm/image/upload/v1573788733/DIGICash/logo_digicash_hico8r.png"
                    width="35px" height="35px" alt="">
            </div>

            <div class="top-right">
                <a href="/my_template/profile?userName=<%= params['userName']%>&password=<%= params['password'] %>">
                    <span style="color: #fff; padding-right:10px;">
                        <i class="fa fa-user-circle"></i>
                        &nbsp;<%= truncate(session[params['userName']]['nama'], :length => 17) %>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="body_all">
        <!-- BODY START -->

        <!-- LOADER -->

        <div class="modal_json">
            <span><img
                    src="https://res.cloudinary.com/okejual/image/upload/v1564026550/loading-spinner-grey_x0mbxf.gif"></span>
        </div>
        <!-- LOADER -->
        <!-- START CONTENT -->
        <div class="m-content" style="overflow-y: auto;">
            <span id="mycontent">

                <div id="sms_opt_div" height="100%">

                    <div class="container" style="margin-top: 20%;" height="350px">

                        <center>
                            <h3 style="color: #3a4d87;"> Kode Verifikasi OTP </h3>
                        </center>
                        <br>
                        <center>
                            <h3 style="color: #000000;"> Silahkan masukkan kode OTP yang telah dikirimkan ke
                                &nbsp; <%= session[params['userName']]['nohp'] %>
                            </h3>
                        </center>

                        <br>
                        <div id="formOtp" style="display: none;">
                            <input type="text" id="phone" value="<%= session[params['userName']]['nohp'] %>">
                            <br>
                            <input type="button" id="btnKirim" value="Kirim OTP">
                            <br>
                           
                        </div>

                        <div id="formKonfirmasi" align="center">
                            <input type="text" id="otp" maxlength="6" value="" placeholder="Kode OTP" style="text-align:center ;border: none; border-bottom: 2px solid #3a4d87;">
                            <br>
                        </div>

                        <table width="100%" border="0" style="margin-top: 20px; margin-bottom:20px;">
                            <tr width="100%">
                                <td align="center" width="100%">
                                    <button type="button" id="btnKonfirmasi" style="background-color: #3a4d87; color:white"
                                        class="btn btn-block"><strong><span>Konfirmasi</span></strong></button>
                                </td>
                            </tr>
                        </table>

                        <div id="sign-in-button" ></div>


                    </div>
                </div>

                <%= render "/my_template/pengajuan_sukses_gagal" %>



            </span>
        </div>
        <!-- END CONTENT -->


        <!-- START FOOTER -->

        <div style="margin-top:20%; background-color:#fff;">
            <div class="bottom-nav btn-group" style="position: fixed;width:100%; background-color:#fff;">

                <table>
                    <tr width="100%">
                        <td align="center" width="150px">
                            <img src="https://res.cloudinary.com/officemtm/image/upload/v1573788731/DIGICash/icon_home_o5zzcg.png"
                                alt="" style="width: 45px; height:45px; background-color:#fff;"
                                onclick="goToContent('home')" id="mBeranda_id">
                        </td>
                        <td align="center" width="150px">
                            <img src="https://res.cloudinary.com/officemtm/image/upload/v1573788732/DIGICash/icon_spun0x.png"
                                alt="" style="width: 60px; height:60px; background-color:#fff;"
                                onclick="goToContent('pengajuan')" id="mPengajuan_id">

                        </td>
                        <td align="center" width="150px">
                            <img src="https://res.cloudinary.com/officemtm/image/upload/v1573788731/DIGICash/icon_histori_qiwxbq.png"
                                alt="" style="width: 45px; height:45px; background-color:#fff; "
                                onclick="goToContent('histori')" id="mHistory_id">

                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <!-- END FOOTER -->

        <!-- BODY END -->
    </div>

    <%= render "/shared/my_js.js"%>

    <script>
        $(document).ready(function () {

            $('#layout_sukses_gagal').hide();


            // var a = <%= session[params['userName']]['nohp'] %>;
            var a = 085359449125;

            var str = a.toString();
            var noHp = str.trim();
            var x = noHp.replace("-","");

            if (x.startsWith() == "62"){
                newnohp = "+62" + str.substring(1);
            }  
            if (x.startsWith() == "+62"){
                newnohp = "+62" + str.substring(2);
            } 
            if (x.startsWith() == "0"){
                newnohp = "+62" + str.substring(0);
            } 
       

            if(x.startsWith() == "8"){
                newnohp = "+62" + x;
            }


            console.log(newnohp)


            $('#phone').focus().val(newnohp)

            window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('sign-in-button', {
                'size': 'invisible',
                'callback': function (response) {
                    // reCAPTCHA solved, allow signInWithPhoneNumber.
                    onSignInSubmit();
                }
            });

            kirimKodeOtp(newnohp);

            // submit_pengajuan();


     

            //$('#btnKirim').click(function () {
              //  phoneNumber = $('#phone').val()
                //firebase.auth().signInWithPhoneNumber(phoneNumber, window.recaptchaVerifier)
                  //  .then(function (confirmationResult) {
                        // SMS sent. Prompt user to type the code from the message, then sign the
                        // user in with confirmationResult.confirm(code).
                    //    window.confirmationResult = confirmationResult;
                      //  alert('Cek sms bro...');
                        //$('#formOtp').hide()
                        //$('#formKonfirmasi').show()
                        //$('#otp').focus()
                   // }).catch(function (error) {
                        // Error; SMS not sent
                        // ...
                       // alert('ERROR: ' + error);
                    //});
           // })

            $('#btnKonfirmasi').click(function () {



                $('#btnKonfirmasi').html("harap tunggu ...")
                myLoadingAjax()

                code = $('#otp').val()
                confirmationResult.confirm(code).then(function (result) {
                    // User signed in successfully.
                    var user = result.user;
                    console.log(user)

                    //$('#sms_opt_div').hide();
                    //$('#layout_sukses_gagal').show();
                    myLoadingAjax()

                    submit_pengajuan();


                    //$('#sms_opt_div').hide();
                    //$('#layout_sukses_gagal').show();
                    // ...
                }).catch(function (error) {
                    // User couldn't sign in (bad verification code?)
                    // ...
                    toastr.error('Oops, Kode OTP Salah', 'Error!!')
                            return false;
                });
            });

            $("#tidaksetuju_id").click(function(){
     

                var userName = '<%=params['userName']%>';
                var password = '<%=params['password']%>';
                myLoadingAjax()
                $.ajax({
                    url: '/my_template/' + "home" + "?userName=" + userName + "&password=" + password,
                    dataType: 'html',
                    beforeSend: function () {
        
                        //  $('.modal_json').fadeIn('fast');
                    },
                    success: function (data) {
                        $('#mycontent').html(data)
                        //  $('#myModal').modal('hide')
                    },
                    error: function () {
                        $('#mycontent').html("")
                    },
                    complete: function () {}
                });
        
            });

        })


        function kirimKodeOtp(newnohp){

            console.log(newnohp)

            phoneNumber = $('#phone').val()
            firebase.auth().signInWithPhoneNumber(newnohp, window.recaptchaVerifier)
                .then(function (confirmationResult) {
                    // SMS sent. Prompt user to type the code from the message, then sign the
                    // user in with confirmationResult.confirm(code).
                    window.confirmationResult = confirmationResult;
                    $('#formOtp').hide()
                    $('#formKonfirmasi').show()
                    $('#otp').focus()
                }).catch(function (error) {
                    // Error; SMS not sent
                    // ...
                    alert('ERROR: ' + error);
                    console.log(newnohp)
                });
        }


        function submit_pengajuan(){


            var nama= '<%=params['nama']%>';
            var nip= '<%=params['nip']%>';
            var absensiid= '<%=params['absensiid']%>';
            var jabatan= '<%=params['jabatan']%>';
            var unit_kerja= '<%=params['unit_kerja']%>';
            var plafond= '<%=params['plafond']%>';
            var lenderid= '<%=params['lenderid']%>';
            var norek= '<%=params['norek']%>';
            var namarek= '<%=params['namarek']%>';
            var namabank= '<%=params['namabank']%>';
            var tanggal_transaksi= '<%=params['tanggal_transaksi']%>';
            var via= '<%=params['via']%>';
            var status= '<%=params['status']%>';
            var nocif= '<%=params['nocif']%>';
            var biaya_jasa= '<%=params['biaya_transfer']%>';
            var biaya_administrasi= '<%=params['biaya_administrasi']%>';
            var biaya_asuransi= '<%=params['biaya_asuransi']%>';
            var biaya_transfer= '<%=params['biaya_jasa']%>';

            var userName = '<%=params['userName']%>';
            var password = '<%=params['password']%>';

     
    
            myLoadingAjax()
    
    
            $.ajax({
    
                url: '/my_template/transaksis' + "?userName=" + userName + "&password=" + password,
                type: 'POST',
                dataType: "json",
                data: {
    
                    nama: nama,
                    nip: nip,
                    absensiid: absensiid,
                    jabatan: jabatan,
                    unit_kerja: unit_kerja,
                    plafond: plafond,
                    lenderid: lenderid,
                    norek: norek,
                    namarek: namarek,
                    namabank: namabank,
                    tanggal_transaksi: tanggal_transaksi,
                    via:via,
                    status: status,
                    nocif: nocif,
                    biaya_jasa: biaya_jasa,
                    biaya_administrasi:biaya_administrasi,
                    biaya_asuransi:biaya_asuransi,
                    biaya_transfer:biaya_transfer,
                   
    
                },
    
                success: function (result) {
                    console.log(result)
                    if (result.status == true) {
    
                        $('#sms_opt_div').hide();
                        $('#layout_sukses_gagal').show();
    
                    } else {
                        toastr.error('Pengajuan Pinjaman Gagal', 'Error!');
    
                        var userName = "<%=params['userName']%>"
                        var password = "<%=params['password']%>"
                        window.location.href = "/?userName=" + userName + "&password=" + password;
    
                    }
    
    
                }
    
            });
    
        }


        //goToContent("home")

        // set remove class "active" in button navigation
        $(".btn-group > .btn").click(function () {
            $(".btn-group > .btn").removeClass("active");
            $(this).addClass("active");
        });

        // set class "active" in button navigation
        function activePage(myContent) {
            $('#mBeranda_id').removeClass("active");

            if (myContent == 'home') {
                $('#mBeranda_id').addClass("active");
            } else if (myContent == 'pengajuan') {
                $('#mPengajuan_id').addClass("active");
            } else {
                $('#mHistory_id').addClass("active");
            }

        }

        function goToContent(content) {
            var userName = '<%=params['userName']%>';
            var password = '<%=params['password']%>';
            activePage(content)
            myLoadingAjax()
            $.ajax({
                url: '/my_template/' + content + "?userName=" + userName + "&password=" + password,
                dataType: 'html',
                beforeSend: function () {

                    //  $('.modal_json').fadeIn('fast');
                },
                success: function (data) {
                    $('#mycontent').html(data)
                    //  $('#myModal').modal('hide')
                },
                error: function () {
                    $('#mycontent').html("")
                },
                complete: function () {}
            });
        }
    </script>

</body>

</html>