<nav id="sidebar">
    <div class="sidebar-header">
    <br>
        <h3 style="padding-left:20px;">RSUD Ciracas</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#"><i class="fa fa-user-circle"></i> <%= session['sess']['name'] %></a>
        </li>
        <li class="<%= current_class?('/backoffice/home/index') %>">
            <a href="/backoffice/home/index"><i class="fa fa-home"></i> Dashboard</a>
        </li>
        <% @list['content']['data'].each do | item | %>
        <li class="<%= current_class?('/'+item['url']) %>">
            <a href="/<%= item['url'] %>"><i class="fas fa-box"></i> <%= item['name'] %></a>
        </li>
        <% end %>
        <li>
            <a href="/backoffice/home/logout"><i class="fas fa-door-open"></i> Keluar</a>
        </li>
    
    </ul>
</nav>