<nav id="sidebar">
    <div class="sidebar-header">
        <div style="width: 100%; height: 100%; background-color: #ffff; color:#989898;border-radius: 0px 0px 50% 0px;">
            <img style="margin-left: 20%; margin-right: 20%; margin-top: 5%; margin-bottom: 5%; width: 60%; height: 40%; " src="https://res.cloudinary.com/pt-mitra-tekno-madani/image/upload/v1610538876/PNM%20Digi%201.2/Logo_PNM_VC_ztojhu.png" alt="">
        </div>
    </div>

     <ul class="list-unstyled components">
        <li>
            <a href="#"><i class="fa fa-user-circle"></i> <%= session['sess']['name'] %></a>
        </li>
        <li class="<%= current_class?('/backoffice/home/index') %>">
            <a href="/backoffice/home/index"><i class="fa fa-home"></i> Dashboard</a>
        </li>
         
        <% @list.each do | item | %>
        <li class="<%= current_class?('/'+item['url']) %>" >
            <a href="/<%= item['url'] %>"><i class="fa fa-list"></i> <%= item['menu_header'] %></a>
            <% if item['rows_child'] > 0 %>
                <% item['menu_child'].each do | item | %>
                    <li class="<%= current_class?('/'+item['url']) %>" >
                        <a href="/<%= item['url'] %>"><i class="fa fa-cube"></i> <%= item['menu_header'] %></a>
                    </li>
                <% end %>
            <% end %>
        </li>
        <% end %>

        
        <li>
            <a href="/backoffice/home/logout"><i class="fa fa-power-off"></i> Keluar</a>
        </li>
    </ul>
</nav>